<span style='color: #000'>360 frames</span>	<span style='color: #900'>15,104 KB</span>	<span style='color: #090'>281.43 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />