/* 
    Document   : pcmac
    Created on : 13-feb-2013, 16:24:43
    Author     : santos
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background-image: url('../img/general_bg.png') !important;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right bottom;
    font-size:16px;
}
 
.transparente{
    background: rgba(255, 255, 255, 0.5);
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px; 
}

.row label {
    float:left;
    margin-right:10px;
    font-size: 105%;
    width:180px;
}

.row{
    line-height: 30px;
}
/* Ajustar el tamaño de los botones del GridView */
.grid-view .button-column img {
border: 0;
width: 18px;
}

div ul li input {
float: left;
margin-right: 10px;
}

.grid-view .button-column {
text-align: center;
width: 90px;
}
.navbar .nav.pull-right{
    background-color: #a30c22;
}


.rowDocumentos{
    font-size:12px;
    line-height: 48px;
    float:left;
}
.rowDocumentos input {
    height: auto;
    font-size: 12px;
}

.rowDocumentos label{
    float:left;
    margin-left: 5px;
    margin-right: 10px;
}
.fila_tabla{
    width:100%;
    clear:both;
    height:20px;
	padding-bottom: 10px;
}
.columna_tabla{
    float:left;
    margin-left:10px;
    
}

.encabezado_cargar{
    width:900px;
    height: auto;
    display: block;
    clear:both;
}

.column {
    float: left;
    padding: 5px;
}

.column label {
font-size: 10px;
}

.caja_consultas {
    font-size:10px;
}

.caja_consultas select {
    font-size: 10px;
}

.btn_delete{
    background-image: url(../../../images/iconos/delete.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size:14px 14px;
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    width:16px;
    padding-left: 0px;     /* make text start to the right of the image */
    vertical-align: top; /* align the text vertically centered */
    float:left;
}


.btn_search{
    background-image: url(../../../images/iconos/search.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size:14px 14px;
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    width:16px;
    padding-left: 0px;     /* make text start to the right of the image */
    vertical-align: top;  /* align the text vertically centered */
    
}

ul.dropdown li:hover{
    background-color:#FFDA74;
}

.contenido{
	text-align: left;
	background-color: #FCFCFC;
		
	
}
.contenido td{
	padding-left:15px;
	}
	
	
.totales{
	text-align: left;
	background-color: #F5E1E1;	
}

.totales td{
	font-weight:bold;
	padding-left:15px;
	}
	
.numero{
	text-align: right;
}

.mes{
	width:110px;		
}

.anio{
	width:70px;		
}
.descripcion{
    text-align:right;
    font-weight: bold;
}	
.parcial{
    text-align:right;
    font-weight: bold;
}	
.sucursal{
    text-align:center;
    font-weight: bold;
    background-color: #F0F0F0;	
}	
.tercero{
    text-align:center;
    font-weight: bold;
    text-decoration: underline;
    background-color: #FBFBFB;	
}

.informe{
	overflow: auto;
	width: 800px;
	height: 600px;
	position: absolute;	
}	

.sucursales{
	width:70px;	
}	

.text_sucursal{
        font-size:120%;
        font-weight: bold;
        height: 48px;
        line-height: normal;
        vertical-align: top;
}
.plugin_usuarios ul{
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
    -webkit-box-shadow: #F9F9F9 0 1px 0 inset;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: #F9F9F9 0 1px 0 inset;
    text-decoration: none;
}
.titulo_plugin{
    margin-top:10px;
    margin-bottom: 10px;
    color:#468847;
    font-size: 16px !important;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
    -webkit-box-shadow: #F9F9F9 0 1px 0 inset;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: #F9F9F9 0 1px 0 inset;
    text-decoration: none;
    
}
/*Sobreescribir estos estilos del template para los Plugins de PcMac*/
.summary ul li .summary-number {
    padding-top: 0px;
}

.summary ul li .summary-title {
    padding:0px;
}

.sidebar-nav > ul > li > a{
    font-size:16px !important;
}

.rowButtons{
margin-left: 0px;
float: none;
position: relative;
clear: both;
}

.interno{
    float:left; 
    margin-right: 10px;
}

tr.pendr{
   background-color: lightgreen; 
}
tr.pendh{
   background-color: lightsalmon; 
}

.trpenr{
    margin-left:20px;
    font-size: 20px;
    color: green;
    text-align: right;
    vertical-align: bottom;
}
.trpenh{
    margin-left:20px;
    font-size: 20px;
    color: salmon;
    text-align: right;
    vertical-align: bottom;
}

.nav-collapse ul.dropdown-horizontal li{
    width:120px;
    height:84px;
}

.nav-collapse ul.dropdown-horizontal li a{
    display: inline-block;
    margin-top:30px;
    width:100%;
    height:100%;
}

.claseXX{
    height:20px !important;
    margin-top:0px !important;
    //display: inline; 
}
.nav-collapse ul.dropdown-horizontal li.claseXX a {
  display: block;
  margin-top: 0px;
  width:100%;
  height:100%;
}
li.col0:hover{
    background:#31B744 !important;
}
.col1:hover{
    background:#1363DC !important;
}
.col2:hover{
    background:#9055CF !important;
}
.col3:hover{
    background:#EE5959 !important;
}
.col4:hover{
    background:#FFDA74 !important;
}
.col5:hover{
    background:#31B744 !important;
}
.col6:hover{
    background:#1363DC !important;
}
.col7:hover{
    background:#9055CF !important;
}
span.required{
    color:red !important;
}
.span3 .sidebar-nav #yw0 li ul li a,.span3 .sidebar-nav #yw1 li ul li a,.span3 .sidebar-nav #yw2 li ul li a{
    background: #EE5959 !important;
    color:#FFFFFF !important;
    opacity: 1; /* standard: ff gt 1.5, opera, safari */
    -ms-filter: “alpha(opacity=100)”; /* ie 8 */
    filter: alpha(opacity=100); /* ie lt 7 */
    -khtml-opacity: 1; /* safari 1.x */
    -moz-opacity: 1; /* ff lt 1.5, netscape */
}

span3 .sidebar-nav #yw0 li ul li a:hover,.span3 .sidebar-nav #yw1 li ul li a:hover,.span3 .sidebar-nav #yw2 li ul li a:hover{
    background: #EE5959 !important;
    color:#000000 !important;
    opacity: .75; /* standard: ff gt 1.5, opera, safari */
    -ms-filter: “alpha(opacity=75)”; /* ie 8 */
    filter: alpha(opacity=75); /* ie lt 7 */
    -khtml-opacity: .75; /* safari 1.x */
    -moz-opacity: .75; /* ff lt 1.5, netscape */
}

tr.center th {
  text-align: center;
}

.titulo{
    font-size: 35px;
    text-align: center;
    margin-top: 120px;
    line-height: 40px;
}