.navbar .brand {
  color:#eee;
  text-shadow:#777777 0 1px 0;
}

.navbar-inverse .navbar-inner {
 /* background-color: #a30c22;*/
  background-color: #fff;
  background-image: none;
/*  background-image: -moz-linear-gradient(top, #a30c22, #b73022);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a30c22), to(#b73022));
  background-image: -webkit-linear-gradient(top, #a30c22, #b73022);
  background-image: -o-linear-gradient(top, #a30c22, #b73022);
  background-image: linear-gradient(to bottom, #a30c22, #b73022);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffa30c22', endColorstr='#ffb73022', GradientType=0);
*/
  border-color: #a30c22;
  color:#eee;
}

.navbar .nav > li > a {
  color:#eee;
  text-shadow:#ccc 0 0 0;
}

.navbar .operations > li > a {
  color: #030;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #a30c22;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #a30c22;
}

.navbar-inverse .navbar-search .search-query {
  background-color:#dedede;
  border-color:#dedede;
  color:#111111;
}

.navbar-inverse .divider-vertical {
  border-right-color: #39436d;
  border-left-color: #20317d;
}

a, a:hover, .sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .summary-number  {
	color: #a30c22;
}

ul.yiiPager > li > a{
	color: #a30c22!important;
	
}

ul.yiiPager .selected a {
  background-color: #a30c22;
  background-image: -moz-linear-gradient(top, #a30c22, #b73022);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a30c22), to(#b73022));
  background-image: -webkit-linear-gradient(top, #a30c22, #b73022);
  background-image: -o-linear-gradient(top, #a30c22, #b73022);
  background-image: linear-gradient(to bottom, #a30c22, #b73022);
  background-repeat: repeat-x;
  border-color: #a30c22;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffa30c22', endColorstr='#ffb73022', GradientType=0);
  color:#DEDEDE !important;
  text-shadow:#CCCCCC 0 0 0;
  font-weight:bold;
}