<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="departamentos.id.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id)%%></div></td>
		<td id="departamentos.id_pais.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id_pais)%%></div></td>
		<td id="departamentos.nombre.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nombre)%%></div></td>
