<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">id</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="20" size="20" type="text" class="TextBox" name="id" id="id" value="<%%VALUE(id)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">identificacion</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="15" size="15" type="text" class="TextBox" name="identificacion" id="identificacion" value="<%%VALUE(identificacion)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">nombre</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="50" size="50" type="text" class="TextBox" name="nombre" id="nombre" value="<%%VALUE(nombre)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ruta_logo</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="80" size="60" type="text" class="TextBox" name="ruta_logo" id="ruta_logo" value="<%%VALUE(ruta_logo)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">direccion</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="80" size="60" type="text" class="TextBox" name="direccion" id="direccion" value="<%%VALUE(direccion)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">telefono</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="30" size="30" type="text" class="TextBox" name="telefono" id="telefono" value="<%%VALUE(telefono)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">email_admin</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="60" size="60" type="text" class="TextBox" name="email_admin" id="email_admin" value="<%%VALUE(email_admin)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">nombre_admin</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="60" size="60" type="text" class="TextBox" name="nombre_admin" id="nombre_admin" value="<%%VALUE(nombre_admin)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">id_pais</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="4" size="10" type="text" class="TextBox" name="id_pais" id="id_pais" value="<%%VALUE(id_pais)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">id_departamento</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="4" size="10" type="text" class="TextBox" name="id_departamento" id="id_departamento" value="<%%VALUE(id_departamento)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">id_municipio</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="4" size="10" type="text" class="TextBox" name="id_municipio" id="id_municipio" value="<%%VALUE(id_municipio)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('id').length){
			document.getElementsByName('id')[0].focus();
		}
	</script>