<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_examenes_preguntas_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_examenes_preguntas.id_exam_preg.<%%VALUE(id_exam_preg)%%>" valign="top" width="100" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(id_exam_preg)%%><%%ENDSELECT%%></td>
		<td id="ex_examenes_preguntas.cod_examen.<%%VALUE(id_exam_preg)%%>" valign="top" width="300" class="TableBody"><%%SELECT%%><%%VALUE(cod_examen)%%><%%ENDSELECT%%></td>
		<td id="ex_examenes_preguntas.cod_pregunta.<%%VALUE(id_exam_preg)%%>" valign="top" width="400" class="TableBody"><%%SELECT%%><%%VALUE(cod_pregunta)%%><%%ENDSELECT%%></td>
