<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td class=TableHeader colspan=3 height=25>
			<div class="buttons" style="float: right;">
				<a href="ex_empresas_usuarios_view.php?FilterField[1]=2&FilterOperator[1]=%3C%3D%3E&FilterValue[1]=<%%VALUE(cod_empresa)%%> - <%%URLVALUE(nom_empresa)%%>" style="visibility: hidden;" id="ex_empresas_usuarios_link">Companies Users <img src="view.gif" /></a>
				</div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="10" size="10" type="text" class="TextBox" name="cod_empresa" id="cod_empresa" value="<%%VALUE(cod_empresa)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Name Company</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="100" size="60" type="text" class="TextBox" name="nom_empresa" id="nom_empresa" value="<%%VALUE(nom_empresa)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Logo</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top">
						<a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(logo)%%>" rel="lightbox[ex_empresas_dv]"><img src="thumbnail.php?i=<%%VALUE(logo)%%>&t=ex_empresas&f=logo&v=dv" border="0"></a>&nbsp;&nbsp;

												<%%UPLOADFILE(logo)%%>
						<%%REMOVEFILE(logo)%%>
<a href="#" onclick="return showDescription('ex_empresas', 'logo', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">email</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="100" size="60" type="text" class="TextBox" name="email" id="email" value="<%%VALUE(email)%%>">&nbsp;&nbsp;</td>
					</tr>
                    <tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Licences</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="100" size="60" type="text" class="TextBox" name="licenciascompradas" id="licenciascompradas" value="<%%VALUE(licenciascompradas)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('cod_empresa').length){
			document.getElementsByName('cod_empresa')[0].focus();
		}
	</script>