<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_examenes_preguntas.id_exam_preg.<%%VALUE(id_exam_preg)%%>" valign="top" width="100" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id_exam_preg)%%></div></td>
		<td id="ex_examenes_preguntas.cod_examen.<%%VALUE(id_exam_preg)%%>" valign="top" width="300" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(cod_examen)%%></div></td>
		<td id="ex_examenes_preguntas.cod_pregunta.<%%VALUE(id_exam_preg)%%>" valign="top" width="400" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(cod_pregunta)%%></div></td>
