<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_ilto_users.cod_ilto_user.<%%VALUE(cod_ilto_user)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(cod_ilto_user)%%></div></td>
		<td id="ex_ilto_users.nom_ilto_user.<%%VALUE(cod_ilto_user)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nom_ilto_user)%%></div></td>
		<td id="ex_ilto_users.clave_ilto_user.<%%VALUE(cod_ilto_user)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(clave_ilto_user)%%></div></td>
		<td id="ex_ilto_users.tipo_ilto_user.<%%VALUE(cod_ilto_user)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(tipo_ilto_user)%%></div></td>
