<!-- Edit this file to change the layout of the detail view print preview page -->

<style type="text/css"><!--  
	@media print{.displayOnly {display: none;}}
	td.TableHeaderPrint{
		border-bottom: dotted 1px black;
	}
	.TableHeaderPrint{
		font-weight: bold;
	}
	.TableTitlePrint{
		font-size: 130%;
		font-weight: bold;
	}
	.TableBodyPrint{
		padding-left: .5em;
		border-bottom: dotted 1px black;
	}
	*{
		font-family: arial,sans-serif;
	}
	--></style><br />
<table border="0" bordercolor="silver" cellpadding="2" cellspacing="0" width="100%">
	<tr>
		<td>
			<div class=TableTitlePrint><%%DETAIL_VIEW_TITLE%%></div>
			<div align="center" class="displayOnly buttons">
				<button type="submit" id="back"><img src="deselect.gif" /> <%%TRANSLATION(Back)%%></button>
				<button type="submit" id="deselect" name="deselect_x" value="1"><img src="deselect.gif" /> <%%TRANSLATION(Deselect)%%></button>
				</div>
			</td>
		</tr>
	<tr>
		<td>
			<table width="100%">
				<tr>
					<td class="TableHeaderPrint" valign="top" width="20%">
						<div class="TableHeaderPrint" style="text-align: right;">ID Questions</div>
						</td>
					<td class="TableBodyPrint" xwidth="300" valign="top"><%%VALUE(cod_pregunta)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class="TableHeaderPrint" valign="top" width="20%">
						<div class="TableHeaderPrint" style="text-align: right;">Text Question</div>
						</td>
					<td class="TableBodyPrint" xwidth="300" valign="top"><%%VALUE(texto_pregunta)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class="TableHeaderPrint" valign="top" width="20%">
						<div class="TableHeaderPrint" style="text-align: right;">URL Question MP3</div>
						</td>
					<td class="TableBodyPrint" xwidth="300" valign="top">						<img id="url_preguntaImg" src="thumbnail.php?t=ex_preguntas&f=url_pregunta&i=<%%VALUE(url_pregunta)%%>&v=dv" border="0">
						</td>
					</tr>
				<tr>
					<td class="TableHeaderPrint" valign="top" width="20%">
						<div class="TableHeaderPrint" style="text-align: right;">URL2 Question IMG</div>
						</td>
					<td class="TableBodyPrint" xwidth="300" valign="top">
						<script>
							var url2_preguntaSrc1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(url2_pregunta)%%>';
							var url2_preguntaSrc2<%%RND1%%>='thumbnail.php?t=ex_preguntas&f=url2_pregunta&i=<%%VALUE(url2_pregunta)%%>&v=dv'
						</script>
						<a href="#" onclick="$('url2_preguntaImg<%%RND1%%>').src=($('url2_preguntaImg<%%RND1%%>').src.search(/thumbnail\.php/)!=-1 ? url2_preguntaSrc1<%%RND1%%> : url2_preguntaSrc2<%%RND1%%>); return false;"><img id="url2_preguntaImg<%%RND1%%>" src="thumbnail.php?t=ex_preguntas&f=url2_pregunta&i=<%%VALUE(url2_pregunta)%%>&v=dv" border="0"></a>
						</td>
					</tr>
				<tr>
					<td class="TableHeaderPrint" valign="top" width="20%">
						<div class="TableHeaderPrint" style="text-align: right;">Type</div>
						</td>
					<td class="TableBodyPrint" xwidth="300" valign="top"><%%VALUE(tipo)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class="TableHeaderPrint" valign="top" width="20%">
						<div class="TableHeaderPrint" style="text-align: right;">Time</div>
						</td>
					<td class="TableBodyPrint" xwidth="300" valign="top"><%%VALUE(tiempo)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class="TableHeaderPrint" valign="top" width="20%">
						<div class="TableHeaderPrint" style="text-align: right;">Type _p</div>
						</td>
					<td class="TableBodyPrint" xwidth="300" valign="top"><%%COMBOTEXT(tipo_p)%%>&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

