<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td class=TableHeader colspan=3 height=25>
			<div class="buttons" style="float: right;">
				<a href="ex_preguntas_respuestas_view.php?FilterField[1]=3&FilterOperator[1]=%3C%3D%3E&FilterValue[1]=<%%VALUE(cod_respuesta)%%> - <%%URLVALUE(texto_respuesta)%%>" style="visibility: hidden;" id="ex_preguntas_respuestas_link">Questions Answers <img src="view.gif" /></a>
				</div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID Answer</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(cod_respuesta)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Text Answer</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="60" type="text" class="TextBox" name="texto_respuesta" id="texto_respuesta" value="<%%VALUE(texto_respuesta)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">URL Answer</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top">
						<a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(url_respuesta)%%>" rel="lightbox[ex_respuestas_dv]"><img src="thumbnail.php?i=<%%VALUE(url_respuesta)%%>&t=ex_respuestas&f=url_respuesta&v=dv" border="0"></a>&nbsp;&nbsp;

												<%%UPLOADFILE(url_respuesta)%%>
						<%%REMOVEFILE(url_respuesta)%%>
<a href="#" onclick="return showDescription('ex_respuestas', 'url_respuesta', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">URL 2 Answer</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top">
						<a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(url2_respuesta)%%>" rel="lightbox[ex_respuestas_dv]"><img src="thumbnail.php?i=<%%VALUE(url2_respuesta)%%>&t=ex_respuestas&f=url2_respuesta&v=dv" border="0"></a>&nbsp;&nbsp;

												<%%UPLOADFILE(url2_respuesta)%%>
						<%%REMOVEFILE(url2_respuesta)%%>
<a href="#" onclick="return showDescription('ex_respuestas', 'url2_respuesta', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('texto_respuesta').length){
			document.getElementsByName('texto_respuesta')[0].focus();
		}
	</script>