<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_respuestas_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_respuestas.cod_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(cod_respuesta)%%><%%ENDSELECT%%></td>
		<td id="ex_respuestas.texto_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="300" class="TableBody"><%%SELECT%%><%%VALUE(texto_respuesta)%%><%%ENDSELECT%%></td>
		<td id="ex_respuestas.url_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBody"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(url_respuesta)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(url_respuesta)%%>&t=ex_respuestas&f=url_respuesta&v=tv" border="0"></a></td>
		<td id="ex_respuestas.url2_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBody"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(url2_respuesta)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(url2_respuesta)%%>&t=ex_respuestas&f=url2_respuesta&v=tv" border="0"></a></td>
