<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_usuarios_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_usuarios.fecha_creacion.<%%VALUE(fecha_creacion)%%>" valign="top" class="TableBody"><%%VALUE(fecha_creacion)%%></td>


		<td id="ex_usuarios.cod_usuario.<%%VALUE(cod_usuario)%%>" valign="top"  class="TableBody"><%%VALUE(cod_usuario)%%></td>
        		
                <td id="ex_usuarios.pws.<%%VALUE(pws)%%>" valign="top"  class="TableBody"><%%VALUE(pws)%%></td>

		<td id="ex_usuarios.nom_usuario.<%%VALUE(nom_usuario)%%>" valign="top"  class="TableBody"><%%VALUE(nom_usuario)%%></td>
                		
                        
                        		<td id="ex_usuarios.last_exam.<%%VALUE(last_exam)%%>" valign="top" class="TableBody"><%%VALUE(last_exam)%%></td>

                        
                        <td id="ex_usuarios.total_score.<%%VALUE(total_score)%%>" valign="top"  class="TableBody"><%%VALUE(total_score)%%></td>
                        
        		<td id="ex_usuarios.CEF.<%%VALUE(CEF)%%>" valign="top"  class="TableBody"><%%VALUE(CEF)%%></td>



		<td id="ex_usuarios.email.<%%VALUE(email)%%>" valign="top"  class="TableBody"><a href="mailto:<%%VALUE(email)%%>"><img src="mailLink.gif" border="0" title="<%%VALUE(email)%%>"></a></td>
        
        <td align="center"><a target="_blank" href="../examspdf/results<%%VALUE(cod_usuario)%%>.pdf">Download</a></td>
