<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_usuarios.fecha_creacion.<%%VALUE(fecha_creacion)%%>" valign="top"  class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(fecha_creacion)%%></div></td>



		<td id="ex_usuarios.cod_usuario.<%%VALUE(cod_usuario)%%>" valign="top"  class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(cod_usuario)%%></div></td>
        
        		<td id="ex_usuarios.pws.<%%VALUE(pws)%%>" valign="top"class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(pws)%%></div></td>

		<td id="ex_usuarios.nom_usuario.<%%VALUE(nom_usuario)%%>" valign="top" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nom_usuario)%%></div></td>
        
        		<td id="ex_usuarios.last_exam.<%%VALUE(last_exam)%%>" valign="top"  class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(last_exam)%%></div></td>

        
        		<td id="ex_usuarios.total_score.<%%VALUE(total_score)%%>" valign="top"  class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(total_score)%%></div></td>
                
                		<td id="ex_usuarios.CEF.<%%VALUE(CEF)%%>" valign="top"  class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(CEF)%%></div></td>
                        
                        
		<td id="ex_usuarios.email.<%%VALUE(email)%%>" valign="top"  class="TableBodyHighlighted"><a href="mailto:<%%VALUE(email)%%>" class="TableBodyHighlighted" style="padding: 0;"><img src="mailLink.gif" border="0" title="<%%VALUE(email)%%>"></a></td>
        <td align="center"><a target="_blank" href="../examspdf/results<%%VALUE(cod_usuario)%%>.pdf">Download</a></td>
