<div class="team-header-container">
	%%POSITION wrap="h6" class="team-position"%%
	%%NAME wrap="h2" class="team-name"%%

	<div class="team-member-container">
		%%PHOTO wrap="div" class="team-photo" link="false"%%

		<div class="team-member-info">
			%%DESC wrap="div" class="team-desc"%%
			<div class="team-meta">
				%%PHONE%%
				%%EMAIL%%
				%%SKYPE%%
				%%LOCATION%%
			</div>
			 %%SOCIALS wrap="div" class="team-member-socials"%%
		</div>

		%%SKILLS%%
	</div>
</div>

<div class="team-content entry-content">
	%%CONTENT%%
</div>
