		/* Credit to bootsnipp.com for the css for the color graph */
			.colorgraph {
			  height: 5px;
			  border-top: 0;
			  background: #c4e17f;
			  border-radius: 5px;
			  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			}
			
			body {
			  padding : 10px ;
			  
			}
			
			#exTab1 .tab-content {
			 	color: black;
			    background-color: #f3f3f3;
			    padding: 5px 15px;
			}
			
			#exTab2 h3 {
			  color : white;
			  background-color: #428bca;
			  padding : 5px 15px;
			}
			
			/* remove border radius for the tab */
			
			#exTab1 .nav-pills > li > a {
			  border-radius: 0;
			}
			
			/* change border radius for the tab , apply corners on top*/
			
			#exTab3 .nav-pills > li > a {
			  border-radius: 4px 4px 0 0 ;
			}
			
			#exTab3 .tab-content {
			  color : white;
			  background-color: #428bca;
			  padding : 5px 15px;
			}
			
			.inactive {
				cursor:none;
			}
			
			.isDisabled {
			  color: currentColor !important;
			  cursor: not-allowed !important;
			  opacity: 0.5 !important;
			  text-decoration: none !important;
			} 
			
			.loginbox-social {
			    padding-top: 25px;
			}
			
			select.input-lg {
                height: 25px !important;
			}
			
			.row {
			    margin-bottom: 5px;
			}
			
			.question_text {
				font-size: 16px !important;
				font-weight: 400;
			}
			
			.questions input {
				width: 50%;
			    height: 30px;
			    font-size: 16px;
			    color: #908f8f;
			}
			
			.btn {
			font-size: 16px !important;
		    font-weight: 500;
		    text-transform: uppercase;
		    padding:10px;
			}
			
			.form-control {
				height: calc(2.25rem + 10px);
			    font-size: 16px !important;
			}