<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_empresas.cod_empresa.<%%VALUE(cod_empresa)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_empresa)%%></div></td>
		<td id="ex_empresas.nom_empresa.<%%VALUE(cod_empresa)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nom_empresa)%%></div></td>
		<td id="ex_empresas.logo.<%%VALUE(cod_empresa)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(logo)%%></div></td>
		<td id="ex_empresas.email.<%%VALUE(cod_empresa)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(email)%%></div></td>
