<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="paises.id.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id)%%></div></td>
		<td id="paises.nombre.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nombre)%%></div></td>
