/* CSS Document */
body{
	repeat-x 0 0 #F7F7F7; color:#171717;
	font:normal 13px/20px Arial, Helvetica, sans-serif;
	margin:0; padding:0;}
div, h1, h2, h3, h4, h5, h6, form, label, input, span, ul, li, p, a{
	margin:0; padding:0;}
ul{
	list-style:none;}
.spacer{
	font-size:0; line-height:0; clear:both;}


/* -- top navigation start -- */
#topNav{
	width:683px; margin:0 auto; height:37px;}
#topNav ul{
	width:540px; margin:0 auto;}
#topNav ul li{
	height:37px; float:left;
	background:url(images/bg.gif) repeat-x 0 0 #292929; color:#C1C1C1;
	font:bold 12px/37px Arial, Helvetica, sans-serif;}
#topNav ul li a{
	padding:0 18px; height:37px; float:left; text-decoration:none; display:block;
	background:url(images/bg.gif) repeat-x 0 0 #292929; color:#C1C1C1;
	font:bold 12px/37px Arial, Helvetica, sans-serif;}
#topNav ul li a:hover{
	background:url(images/top_btn_h.gif) no-repeat center bottom;}
#topNav ul li a.hover{
	padding:0 18px; height:37px; float:left; text-decoration:none; display:block;
	background:url(images/top_btn_h.gif) no-repeat center bottom; color:#C1C1C1;
	font:bold 12px/37px Arial, Helvetica, sans-serif;}
/* -- top navigation start -- */

/* -- body start -- */
#body{
	/*width:683px; */margin:10px 10px 10px 10px;
	/* background:url(images/logo.jpg) no-repeat right top #F7F7F7; */ color:#171717;}
#body img.logo{
	border:none; align:left; width:150px/*margin:30px 0 0 800px; */}
#body img.logo_c{
	border:none; margin:5px 0 20px 5px; }
#body h1{
	background:url(images/punch_line.gif) no-repeat 0 0 #F7F7F7; color:#171717;
	width:142px; height:49px; text-indent:-20000px;}
#body div.bodyText{
	padding:50px 0 0 0;}
#body div.bodyText h2{
	font:bold italic 20px/34px Arial, Helvetica, sans-serif; color:#B10000;}
#body div.bodyText h2 span{
	color:#000000; background-color:#F7F7F7;}
#body div.bodyText h3{
	font:bold 16px/24px Arial, Helvetica, sans-serif; color:#526D0D;
	background:url(images/folder_icon.gif) no-repeat 0 5px #F7F7F7; padding:0 2px 0 25px;}
#body div.bodyText h4{
	font:normal 14px/24px Arial, Helvetica, sans-serif; color:#000000;
	background-color:#FFF7DE; padding:0 0 0 10px;}
#body div.bodyText p{
	font:normal 11px/20px Arial, Helvetica, sans-serif; color:#171717;
	padding:10px 0; background-color:#F7F7F7;}
#body div.bodyText p a{
	color:#003E6A; background-color:#F7F7F7; text-decoration:underline;}
#body div.bodyText p a:hover{
	text-decoration:none;}
#body div.div_logos{
	padding:10px 0 0 20px;}
#body div.catagory{
	padding:0px 0 0 50px;
}
.pink{
	width:182px; padding:7px 15px 50px; float:left;
	background:url(images/pink_bg.gif) no-repeat 0 0 #F7F7F7; color:#4B2B3E;}
.pink h3{
	background:url(images/news_icon.gif) no-repeat 2px 13px; color:#850049;
	font:bold 20px/38px Arial, Helvetica, sans-serif; padding:0 9px 0 22px;}
.pink h4{
	background:url(images/date_bg.gif) no-repeat 0 13px; color:#384B06;
	width:56px; text-align:center;
	font:bold 12px/39px Arial, Helvetica, sans-serif;}
.pink h5{
	color:#000000; text-transform:uppercase;
	font:bold 10px/11px Arial, Helvetica, sans-serif;}
.pink p{
	color:#4B2B3E; padding:3px 0 10px 0;
	font:normal 11px/17px Arial, Helvetica, sans-serif;}
.pink a.more{
	background:url(images/pink_more_btn.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:46px; height:11px; display:block; float:right;
	text-decoration:none; text-indent:-2000px;
	padding:0; line-height:0;}
.pink a.more:hover{
	background:url(images/pink_more_btn_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;}

.green{
	width:182px; padding:7px 15px 50px; float:left; margin:0 23px;
	background:url(images/green_bg.gif) no-repeat 0 0 #F7F7F7; color:#4B2B3E;}
.green h3{
	background:url(images/solution_icon.gif) no-repeat 2px 13px; color:#516D0A;
	font:bold 20px/38px Arial, Helvetica, sans-serif; padding:0 9px 0 22px;}
.green h5{
	color:#000000; text-transform:uppercase;
	font:bold 10px/11px Arial, Helvetica, sans-serif;}
.green p{
	color:#3D5C32; padding:3px 0 27px 0;
	font:normal 11px/17px Arial, Helvetica, sans-serif;}
.green p a.line{
	color:#3D5C32; padding:0;  text-decoration:underline;
	font:normal 11px/17px Arial, Helvetica, sans-serif;}
.green p a.line:hover{
	color:#3D5C32; padding:0;  text-decoration:none;
	font:normal 11px/17px Arial, Helvetica, sans-serif;}
.green a.more{
	background:url(images/green_more_btn.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:46px; height:11px; display:block; float:right;
	text-decoration:none; text-indent:-2000px;
	padding:0; line-height:0;}
.green a.more:hover{
	background:url(images/green_more_btn_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;}

.green_t{
	width:90%; padding:5px 5px 5px 15px;
	background:url(images/pink_bg.gif) no-repeat 0 0 #F7F7F7; color:#4B2B3E;
        border: 1px solid #C8C3BE;
        border-top: none!important;
        border-left: none!important;
}
.green_t h3{
	background:url(images/news_icon.gif) no-repeat 2px 13px; color:#a92f01;
	font:bold 16px/38px Arial, Helvetica, sans-serif; padding:0 9px 0 22px;}
.green_t h5{
	color:#000000; text-transform:uppercase;
	font:bold 8px/11px Arial, Helvetica, sans-serif;}
.greenText{
	font:normal 14px/20px Arial, Helvetica, sans-serif; color:#000000;
	padding:4px 4px 4px 4px; 
        border: 0px /*solid #C8C3BE;*/}
.greenText1{
	font:normal 14px/20px Arial, Helvetica, sans-serif; color:#a92f01;
	padding:4px 4px 4px 4px; 
        border: 0px}
.greenText2{
	font:normal 10px/20px Arial, Helvetica, sans-serif; color:#000000;
	padding:4px 4px 4px 4px;
        border:0px}  
.green_t p{
	color:#3D5C32; padding:3px 0 27px 0;
	font:normal 11px/17px Arial, Helvetica, sans-serif;}
.green_t p a.line{
	color:#3D5C32; padding:0;  text-decoration:underline;
	font:normal 11px/17px Arial, Helvetica, sans-serif;}
.green_t p a.line:hover{
	color:#3D5C32; padding:0;  text-decoration:none;
	font:normal 11px/17px Arial, Helvetica, sans-serif;}
.green_t a.more{
	background:url(images/green_more_btn.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:46px; height:11px; display:block; float:right;
	text-decoration:none; text-indent:-2000px;
	padding:0; line-height:0;}
.green_t a.more:hover{
	background:url(images/green_more_btn_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;}

.blue{
	width:182px; padding:7px 15px 50px; float:left;
	background:url(images/blue_bg.gif) no-repeat 0 0 #F7F7F7; color:#4B2B3E;}
.blue h3{
	background:url(images/support_icon.gif) no-repeat 2px 11px; color:#364A5B;
	font:bold 20px/38px Arial, Helvetica, sans-serif; padding:0 9px 0 22px;}
.blue h5{
	color:#000000; text-transform:uppercase;
	font:bold 10px/11px Arial, Helvetica, sans-serif;}
.blue p{
	color:#364A5B; padding:3px 0 10px 0;
	font:normal 11px/17px Arial, Helvetica, sans-serif;}
.blue a.more{
	background:url(images/blue_more_btn.gif) no-repeat 0 0 #FFFFFF; color:#000000;
	width:46px; height:11px; display:block; float:right;
	text-decoration:none; text-indent:-2000px;
	padding:0; line-height:0;}
.blue a.more:hover{
	background:url(images/blue_more_btn_h.gif) no-repeat 0 0 #FFFFFF; color:#000000;}
.goal{
	width:448px; float:left; padding:0 22px 0 0;}
.goal h2{
	font:bold italic 24px/34px Arial, Helvetica, sans-serif;
	color:#B10000; background-color:#F7F7F7;}
.goal h2 span{
	color:#000000; background-color:#F7F7F7;}
.goal p{
	font:normal 13px/20px Arial, Helvetica, sans-serif; color:#171717;
	padding:10px 0; background-color:#F7F7F7;}
.goal p.greenText{
	font:normal 13px/20px Arial, Helvetica, sans-serif; color:#526D0D;
	padding:6px 0; background-color:#F7F7F7;}
.goal ul li{
	font:normal 13px/20px Arial, Helvetica, sans-serif; color:#171717;
	padding:2px 2px 2px 23px; margin:0 0 5px 0;
	background:url(images/bullet_no.gif) no-repeat 2px 5px #FFFBED;}
form.login{
	width:188px; height:220px; float:center; padding:10px 12px;
	background-color:#E7E7E7; color:#033462;}
form.login h2{
	background:url(images/login_head_bg.gif) no-repeat 0 0 #E7E7E7; color:#000000;
	font:bold 17px/30px Arial, Helvetica, sans-serif; padding:0 0 20px 13px;}
form.login label{
	background-color:#E7E7E7; color:#B10000; padding:0 0 16px 12px; float:left;
	font:bold 10px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;}
form.login input{
	background-color:#FFFFFF; color:#2D2D2D; margin:0 0 16px 0; padding:2px;
	width:118px; height:14px; float:right;
	font:normal 10px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
form.login input.loginBtn{
	background-color:#FFFFFF; color:#2D2D2D; margin:0; padding:0;
	float:right; width:46px; height:11px; line-height:0; font-size:0;}
form.login a{
	background-color:#E7E7E7; color:#033462; padding:0 0 4px 12px; float:left;
	font:bold 10px/12px Arial, Helvetica, sans-serif;
	text-decoration:none; text-transform:uppercase;}
form.login a:hover{
	background-color:#E7E7E7; color:#064988;}

form.login_a{
	width:250px; height:220px; margin-top: 15px;
	background-color:#E7E7E7; color:#033462;}
form.login_a h2{
	color:#000000;
	font:bold 17px/30px Arial, Helvetica, sans-serif; padding:0 0 20px 13px;}
form.login_a label{
	background-color:#E7E7E7; color:#B10000; padding:0 0 16px 12px; float:left;
	font:bold 10px/22px "Trebuchet MS", Arial, Helvetica, sans-serif;}
form.login_a select{
	background-color:#FFFFFF; color:#2D2D2D; margin:0 0 16px 0; padding:2px;
	width:128px; height:24px; float:right;
	font:normal 10px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
form.login_a input{
	background-color:#FFFFFF; color:#2D2D2D; margin:0 20px 16px 0; padding:2px;
	width:118px; height:14px; float:right;
	font:normal 10px/14px "Trebuchet MS", Arial, Helvetica, sans-serif;}
form.login_a input.loginBtn{
	background-color:#FFFFFF; color:#2D2D2D; margin:0 20px; padding:0;
	float:right; width:46px; height:11px; line-height:0; font-size:0;}
form.login_a a{
	background-color:#E7E7E7; color:#033462; padding:0 0 4px 12px; float:left;
	font:bold 10px/12px Arial, Helvetica, sans-serif;
	text-decoration:none; text-transform:uppercase;}
form.login_a a:hover{
	background-color:#E7E7E7; color:#064988;}

.floatLeft{
	float:left;}
/* -- body end -- */

/* footer start -- */
#footer{
	background-color:#292929; color:#FFFFFF;}
.footer{
	width:490px; height:115px; margin:0 auto; padding:18px 0 0 0;}
.footer ul{
	width:445px; margin:0 auto;}
.footer ul li{
	font:bold 12px/20px Arial, Helvetica, sans-serif;
	color:#FAFAFA; background-color:#292929; float:left;}
.footer ul li a{
	font:bold 12px/20px Arial, Helvetica, sans-serif; text-decoration:none;
	color:#FAFAFA; background-color:#292929; padding:0 8px;}
.footer ul li a:hover{
	font:bold 12px/20px Arial, Helvetica, sans-serif; text-decoration:none;
	color:#FAFAFA; background-color:#484848; padding:0 8px;}
.footer p{
	margin:0 auto; width:175px; color:#EDE3C0; background-color:#292929;
	font:normal 11px/18px "Trebuchet MS", Arial, Helvetica, sans-serif;}
.footer p.valid{
	margin:0 auto; width:128px;}
.footer p.valid a.xhtml{
	background:url(images/xhtml_btn.gif) no-repeat 0 0 #292929; color:#FFFFFF; margin:5px 0 8px 0px;
	text-decoration:none; text-indent:-2000px; width:62px; height:13px; display:block; float:left;}
.footer p.valid a.xhtml:hover{
	background:url(images/xhtml_btn_h.gif) no-repeat 0 0 #292929; color:#FFFFFF; margin:5px 0 8px 0px;
	text-decoration:none; text-indent:-2000px; width:62px; height:13px; display:block; float:left;}
.footer p.valid a.css{
	background:url(images/css_btn.gif) no-repeat 0 0 #292929; color:#FFFFFF; margin:5px 0 8px 4px;
	text-decoration:none; text-indent:-2000px; width:62px; height:13px; display:block; float:left;}
.footer p.valid a.css:hover{
	background:url(images/css_btn_h.gif) no-repeat 0 0 #292929; color:#FFFFFF; margin:5px 0 8px 4px;
	text-decoration:none; text-indent:-2000px; width:62px; height:13px; display:block; float:left;}
.footer p.tworld{
	margin:0 auto; width:170px; height:17px; padding:0 3px;
	font:normal 12px/16px Arial, Helvetica, sans-serif; color:#414141;
	background-color:#FFFFFF; text-align:center;}
.footer p.tworld a{
	font:bold 12px/16px Arial, Helvetica, sans-serif; color:#000000;
	background-color:#FFFFFF; text-align:center; text-decoration:none;}
.footer p.tworld a:hover{
	font:bold 12px/16px Arial, Helvetica, sans-serif; color:#404040;
	background-color:#FFFFFF; text-align:center; text-decoration:none;}
/* footer end -- */


.butn{background-color:#000; color:#FFFFFF;
      font-weight:bold;
      font-size:14px;
      padding: 1px 15px 1px 15px;
      border: 2px outset #C8C3BE;
}

.butn:hover{background-color:#850049 }

.img1{ border: 1px solid #C8C3BE;
      border-top: none!important;
      border-left: none!important;
}

.img{ border: 3px solid #C8C3BE;max-width: 700px;
}

.time
{ border: 1px solid #707070;
      border-top: none!important;
      border-left: none!important;
      font-weight:bold;
      font-size: 30px;
      color: white;
      background-color: #d4d0c8;
      text-align:center;
}


