<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_examenes_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_examenes.cod_examen.<%%VALUE(cod_examen)%%>" valign="top" width="100" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(cod_examen)%%><%%ENDSELECT%%></td>
		<td id="ex_examenes.nom_examen.<%%VALUE(cod_examen)%%>" valign="top" width="300" class="TableBody"><%%SELECT%%><%%VALUE(nom_examen)%%><%%ENDSELECT%%></td>
		<td id="ex_examenes.tipo.<%%VALUE(cod_examen)%%>" valign="top" width="50" class="TableBody"><%%SELECT%%><%%VALUE(tipo)%%><%%ENDSELECT%%></td>
		<td id="ex_examenes.tiempo.<%%VALUE(cod_examen)%%>" valign="top" width="75" class="TableBody"><%%SELECT%%><%%VALUE(tiempo)%%><%%ENDSELECT%%></td>
		<td id="ex_examenes.descripcion.<%%VALUE(cod_examen)%%>" valign="top" width="300" class="TableBody"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
