<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_examenes.cod_examen.<%%VALUE(cod_examen)%%>" valign="top" width="100" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_examen)%%></div></td>
		<td id="ex_examenes.nom_examen.<%%VALUE(cod_examen)%%>" valign="top" width="300" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nom_examen)%%></div></td>
		<td id="ex_examenes.tipo.<%%VALUE(cod_examen)%%>" valign="top" width="50" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(tipo)%%></div></td>
		<td id="ex_examenes.tiempo.<%%VALUE(cod_examen)%%>" valign="top" width="75" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(tiempo)%%></div></td>
		<td id="ex_examenes.descripcion.<%%VALUE(cod_examen)%%>" valign="top" width="300" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(descripcion)%%></div></td>
