<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_preguntas.cod_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_pregunta)%%></div></td>
		<td id="ex_preguntas.texto_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="400" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(texto_pregunta)%%></div></td>
		<td id="ex_preguntas.url_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><img src="thumbnail.php?i=<%%VALUE(url_pregunta)%%>&t=ex_preguntas&f=url_pregunta&v=tv" border="0"></td>
		<td id="ex_preguntas.url2_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(url2_pregunta)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(url2_pregunta)%%>&t=ex_preguntas&f=url2_pregunta&v=tv" border="0"></a></td>
		<td id="ex_preguntas.tiempo.<%%VALUE(cod_pregunta)%%>" valign="top" width="100" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(tiempo)%%></div></td>
		<td id="ex_preguntas.tipo_p.<%%VALUE(cod_pregunta)%%>" valign="top" width="100" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(tipo_p)%%></div></td>
		<script>var e_url_pregunta='<%%VALUE(url_pregunta)%%>'; if(e_url_pregunta=='' || e_url_pregunta=='&nbsp;') document.observe('dom:loaded', function(){ $('ex_preguntas.url_pregunta.<%%VALUE(cod_pregunta)%%>').innerHTML='&nbsp;'; });</script>
