<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_preguntas_respuestas.id_preg_resp.<%%VALUE(id_preg_resp)%%>" valign="top" width="100" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id_preg_resp)%%></div></td>
		<td id="ex_preguntas_respuestas.cod_pregunta.<%%VALUE(id_preg_resp)%%>" valign="top" width="400" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(cod_pregunta)%%></div></td>
		<td id="ex_preguntas_respuestas.cod_respuesta.<%%VALUE(id_preg_resp)%%>" valign="top" width="400" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(cod_respuesta)%%></div></td>
		<td id="ex_preguntas_respuestas.respuesta_correcta.<%%VALUE(id_preg_resp)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(respuesta_correcta)%%></div></td>
