<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">cod_pregunta</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(cod_pregunta)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">texto_pregunta</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="60" type="text" class="TextBox" name="texto_pregunta" id="texto_pregunta" value="<%%VALUE(texto_pregunta)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">url_pregunta</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="100" size="60" type="text" class="TextBox" name="url_pregunta" id="url_pregunta" value="<%%VALUE(url_pregunta)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">url2_pregunta</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="100" size="60" type="text" class="TextBox" name="url2_pregunta" id="url2_pregunta" value="<%%VALUE(url2_pregunta)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">tipo</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="1" size="10" type="text" class="TextBox" name="tipo" id="tipo" value="<%%VALUE(tipo)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">tiempo</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="10" type="text" class="TextBox" name="tiempo" id="tiempo" value="<%%VALUE(tiempo)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">tipo_p</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="1" size="10" type="text" class="TextBox" name="tipo_p" id="tipo_p" value="<%%VALUE(tipo_p)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('texto_pregunta').length){
			document.getElementsByName('texto_pregunta')[0].focus();
		}
	</script>