<!-- Edit this file to change the layout of the detail view print preview page -->

<style type="text/css"><!--  
	@media print{.displayOnly {display: none;}}
	td.TableHeaderPrint{
		border-bottom: dotted 1px black;
	}
	.TableHeaderPrint{
		font-weight: bold;
	}
	.TableTitlePrint{
		font-size: 130%;
		font-weight: bold;
	}
	.TableBodyPrint{
		padding-left: .5em;
		border-bottom: dotted 1px black;
	}
	*{
		font-family: arial,sans-serif;
	}
	--></style><br />
<table border="0" bordercolor="silver" cellpadding="2" cellspacing="0" width="100%">
	<tr>
		<td>
			<div class=TableTitlePrint><%%DETAIL_VIEW_TITLE%%></div>
			<div align="center" class="displayOnly buttons">
				<button type="submit" id="back"><img src="deselect.gif" /> <%%TRANSLATION(Back)%%></button>
				<button type="submit" id="deselect" name="deselect_x" value="1"><img src="deselect.gif" /> <%%TRANSLATION(Deselect)%%></button>
				</div>
			</td>
		</tr>
	<tr>
		<td>
			<table width="100%">
				<tr>
					<td class="TableHeaderPrint" valign="top" width="20%">
						<div class="TableHeaderPrint" style="text-align: right;">ID Answer</div>
						</td>
					<td class="TableBodyPrint" xwidth="300" valign="top"><%%VALUE(cod_respuesta)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class="TableHeaderPrint" valign="top" width="20%">
						<div class="TableHeaderPrint" style="text-align: right;">Text Answer</div>
						</td>
					<td class="TableBodyPrint" xwidth="300" valign="top"><%%VALUE(texto_respuesta)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class="TableHeaderPrint" valign="top" width="20%">
						<div class="TableHeaderPrint" style="text-align: right;">URL Answer</div>
						</td>
					<td class="TableBodyPrint" xwidth="300" valign="top">
						<script>
							var url_respuestaSrc1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(url_respuesta)%%>';
							var url_respuestaSrc2<%%RND1%%>='thumbnail.php?t=ex_respuestas&f=url_respuesta&i=<%%VALUE(url_respuesta)%%>&v=dv'
						</script>
						<a href="#" onclick="$('url_respuestaImg<%%RND1%%>').src=($('url_respuestaImg<%%RND1%%>').src.search(/thumbnail\.php/)!=-1 ? url_respuestaSrc1<%%RND1%%> : url_respuestaSrc2<%%RND1%%>); return false;"><img id="url_respuestaImg<%%RND1%%>" src="thumbnail.php?t=ex_respuestas&f=url_respuesta&i=<%%VALUE(url_respuesta)%%>&v=dv" border="0"></a>
						</td>
					</tr>
				<tr>
					<td class="TableHeaderPrint" valign="top" width="20%">
						<div class="TableHeaderPrint" style="text-align: right;">URL 2 Answer</div>
						</td>
					<td class="TableBodyPrint" xwidth="300" valign="top">
						<script>
							var url2_respuestaSrc1<%%RND1%%>='<%%TRANSLATION(ImageFolder)%%><%%VALUE(url2_respuesta)%%>';
							var url2_respuestaSrc2<%%RND1%%>='thumbnail.php?t=ex_respuestas&f=url2_respuesta&i=<%%VALUE(url2_respuesta)%%>&v=dv'
						</script>
						<a href="#" onclick="$('url2_respuestaImg<%%RND1%%>').src=($('url2_respuestaImg<%%RND1%%>').src.search(/thumbnail\.php/)!=-1 ? url2_respuestaSrc1<%%RND1%%> : url2_respuestaSrc2<%%RND1%%>); return false;"><img id="url2_respuestaImg<%%RND1%%>" src="thumbnail.php?t=ex_respuestas&f=url2_respuesta&i=<%%VALUE(url2_respuesta)%%>&v=dv" border="0"></a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

