<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_respuestas.cod_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_respuesta)%%></div></td>
		<td id="ex_respuestas.texto_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="300" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(texto_respuesta)%%></div></td>
		<td id="ex_respuestas.url_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBodyHighlighted"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(url_respuesta)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(url_respuesta)%%>&t=ex_respuestas&f=url_respuesta&v=tv" border="0"></a></td>
		<td id="ex_respuestas.url2_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBodyHighlighted"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(url2_respuesta)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(url2_respuesta)%%>&t=ex_respuestas&f=url2_respuesta&v=tv" border="0"></a></td>
