<!-- Edit this file to change the layout of the detail view form -->

<script type="text/javascript" src="resources/datepicker/js/datepicker.packed.js"></script>
<link href="resources/datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID US</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(key_user_exam)%%>&nbsp;&nbsp;<a href="#" onclick="return showDescription('ex_usuarios_examenes', 'key_user_exam', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID CU</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><span style="float: left;"><%%COMBO(key_user)%%></span> <%%PLINK(key_user)%%>&nbsp;&nbsp;<a href="#" onclick="return showDescription('ex_usuarios_examenes', 'key_user', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID Exam</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><span style="float: left;"><%%COMBO(cod_examen)%%></span> <%%PLINK(cod_examen)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Status</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><span style="float: left;"><%%COMBO(estado)%%></span>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Start Date </div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><span style="float: left;"><%%COMBO(fecha_presentacion)%%></span>&nbsp;&nbsp;
						<script>$('fecha_presentacion').className='Option split-date';</script>
						</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Start Time</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="10" type="text" class="TextBox" name="hora_inicial" id="hora_inicial" value="<%%VALUE(hora_inicial)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">End Time</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="10" type="text" class="TextBox" name="hora_final" id="hora_final" value="<%%VALUE(hora_final)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Record</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="13" size="10" type="text" class="TextBox" name="puntaje" id="puntaje" value="<%%VALUE(puntaje)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('key_user').length){
			document.getElementsByName('key_user')[0].focus();
		}
	</script>