<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_usuarios.cod_usuario.<%%VALUE(cod_usuario)%%>" valign="top" width="100" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(cod_usuario)%%></div></td>
		<td id="ex_usuarios.nom_usuario.<%%VALUE(cod_usuario)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nom_usuario)%%></div></td>
		<td id="ex_usuarios.email.<%%VALUE(cod_usuario)%%>" valign="top" width="150" class="TableBodyHighlighted"><a href="mailto:<%%VALUE(email)%%>" class="TableBodyHighlighted" style="padding: 0;"><img src="mailLink.gif" border="0" title="<%%VALUE(email)%%>"></a></td><td align="center"><a target="_blank" href="../examspdf/results<%%VALUE(cod_usuario)%%>.pdf">Download</a></td>
