<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'usuarios_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="usuarios.id.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyNumeric">111<%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="usuarios.identificacion.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(identificacion)%%><%%ENDSELECT%%></td>
		<td id="usuarios.nombres.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(nombres)%%><%%ENDSELECT%%></td>
		<td id="usuarios.primer_apellido.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(primer_apellido)%%><%%ENDSELECT%%></td>
		<td id="usuarios.segundo_apellido.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(segundo_apellido)%%><%%ENDSELECT%%></td>
		<td id="usuarios.email.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(email)%%><%%ENDSELECT%%></td>
		<td id="usuarios.id_entidad.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(id_entidad)%%><%%ENDSELECT%%>11</td>
