/* 
    Document   : pcmac
    Created on : 13-feb-2013, 16:24:43
    Author     : santos
    Description:
        Purpose of the stylesheet follows.
*/
body{
    background-image: none;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.pregunta{
    font-size:16px;
}
.bgpar{
    background-color:#EAF1DD;
}

.bgimpar{
    background-color: #FFFFFF;
}

.limpio{
    width:10%;
    background-color: #FFFFFF !important;
        
}

.img_answer{
    margin-left:20px;
    border:4px solid;
    color: transparent;
    max-height: 300px;
    width:300px;
}
.img_answer:hover{
    border:4px solid;
    color: #1363DC;
}

.txt_answer{
    width:100%;
    clear:both;
    font-size: 20px;
    font-weight:bold;
}

.i-checks {
    padding-left: 20px;
    cursor: pointer;
    font-size:20px;
    line-height:22px;
}

.i-checks input {
    opacity: 0;
    position: absolute;
    margin-left: -20px;
}

.i-checks input:checked + i {
    border-color: #1363DC;
}

.i-checks input:checked + i:before {
    left: 4px;
    top: 4px;
    width: 10px;
    height: 10px;
    background-color: #1363DC;
}

.i-checks input:checked + span .active {
    display: inherit;
}

.i-checks input[type="radio"] + i, .i-checks input[type="radio"] + i:before {
    border-radius: 50%;
}

.i-checks input[disabled] + i, fieldset[disabled] .i-checks input + i {
    border-color: #dee5e7;
}

.i-checks input[disabled] + i:before, fieldset[disabled] .i-checks input + i:before {
    background-color: #dee5e7;
}

.i-checks > i {
    width: 20px;
    height: 20px;
    line-height: 1;
    border: 1px solid #cfdadd;
    background-color: #fff;
    margin-left: -20px;
    margin-top: -2px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
    position: relative;
}

.i-checks > i:before {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    background-color: transparent;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.i-checks > span {
    margin-left: -20px;
}

.i-checks > span .active {
    display: none;
}

.txtQuestion{
    float:left; 
    /*width:500px;*/
    font-size:18px;
    /*font-weight: bold;*/
    line-height: 120%;
}
.txtQuestion img {
    /*max-width:350px !important;
    max-height: 250px !important;*/
}
#masterTime{
z-index: 10000;
  padding-top: 5px;
  position: absolute;
  top: 115px;
  width: 100px;
  height: 60px;
  right: 20px;
}
.rowBtns{
    text-align: right;
    height:60px;
}


.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #8a2a21;
	-webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
	box-shadow: 3px 4px 0px 0px #8a2a21;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
	background:-moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:-ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
	background-color:#c62d1f;
	-moz-border-radius:24px;
	-webkit-border-radius:24px;
	border-radius:24px;
	border:1px solid #d02718;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:28px;
	font-weight:bold;
	padding:12px 28px;
	text-decoration:none;
	text-shadow:0px 1px 8px #810e05;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
	background:-moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:-ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
	background-color:#f24437;
}
.myButton:active {
	position:relative;
	top:1px;
}

/**
Templates para las preguntas
tpl_numPlantilla_Question
tpl_numPlantilla_Answer
**/
.tpl_3_txtQuestion{
    float:left !important;
    font-size:20px !important;
    font-weight:bold;
    width:700px;
}
.tpl_3_txtAnswer{
    clear:right;
    font-size:20px !important;
}
.tpl_4_txtQuestion{
    float:left !important;
}
.tpl_4_txtAnswer{
    clear:right; 
    font-size: 18px;
    line-height: 25px;
}
input.tpl_4_txtAnswer{
    font-size:18px !important;
    line-height: 20px;
}
.tpl_2_txtQuestion{
    float:none !important;
    clear:right !important;
}
.tpl_2_txtAnswer{
    clear:right;
}
.tpl_1_txtQuestion{
    float:left !important;
    width:500px !important;
}
.tpl_1_txtAnswer{
    clear:right;
    float:left;
    font-size:20px;
    line-height: 28px;
    width:550px !important;
    padding-top:50px;
}
.td_tpl_1_txtAnswer{
    vertical-align: top;
    padding-top: 10px;
}
.td_tpl_1_txtAnswer label{
    font-size:20px;
}    
.tpl_5_txtQuestion{
    float:none !important;
    clear:right !important;
    width:auto !important;
}
.tpl_5_txtAnswer{ 
    clear:right;
    font-size:28px !important;
    line-height:30px;
}
.tpl_6_txtQuestion{
    float:left;
    max-width:65%;
    width:auto !important;
    
}
.tpl_6_txtQuestion img{
    max-width:640px;
    width:640px !important;
}

.tpl_6_txtAnswer{ 
    clear:right;
    float:left;
    font-size:20px !important;
    width:30%;
}

.bullet{
    float:left !important;
    width: 32px !important;
    padding-right: 5px;
}
.qtitle{
    font-size:26px;
    color:#000;
    font-weight: bold;
}
.drop-answer{
 line-height: 20px;
 font-size: 18px;
}

.imagen_logo_exam_agua{
    position:fixed;
    bottom: 10%;
    right:10%;
    width:20%;
    margin-top: -125px;
    margin-right: 25px;
     opacity: .3; /* standard: ff gt 1.5, opera, safari */
    -ms-filter: “alpha(opacity=30)”; /* ie 8 */
    filter: alpha(opacity=30); /* ie lt 7 */
    -khtml-opacity: .3; /* safari 1.x */
    -moz-opacity: .3; /* ff lt 1.5, netscape */
    z-index: -999999;
}

.ui-widget-content{
    background: #1363DC; 
}