<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'cabecera_examenes_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="cabecera_examenes.id.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="cabecera_examenes.descripcion.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(descripcion)%%><%%ENDSELECT%%></td>
		<td id="cabecera_examenes.id_entidad.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(id_entidad)%%><%%ENDSELECT%%></td>
		<td id="cabecera_examenes.fecha_inicial.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(fecha_inicial)%%><%%ENDSELECT%%></td>
		<td id="cabecera_examenes.fecha_final.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(fecha_final)%%><%%ENDSELECT%%></td>
		<td id="cabecera_examenes.estado.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(estado)%%><%%ENDSELECT%%></td>
