<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_preguntas_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_preguntas.cod_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(cod_pregunta)%%><%%ENDSELECT%%></td>
		<td id="ex_preguntas.texto_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(texto_pregunta)%%><%%ENDSELECT%%></td>
		<td id="ex_preguntas.url_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(url_pregunta)%%><%%ENDSELECT%%></td>
		<td id="ex_preguntas.tipo.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(tipo)%%><%%ENDSELECT%%></td>
		<td id="ex_preguntas.tiempo.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(tiempo)%%><%%ENDSELECT%%></td>
		<td id="ex_preguntas.tipo_p.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(tipo_p)%%><%%ENDSELECT%%></td>
