<span style='color: #000'>340 frames</span>	<span style='color: #900'>21,760 KB</span>	<span style='color: #090'>306.26 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />