@media only screen and (min-width: 990px) and (max-width: 1200px){
	
	body.boxed .wrapper,
	body.boxed header,
	.boxed nav.content_menu.fixed{
		width: 1000px;
	}
	
	.boxed .container_inner,
	.boxed nav.content_menu,
	.boxed .parallax_content{
		width: 920px;
	}
	
	.container_inner,
	nav.content_menu,
	.parallax_content{
		width: 1000px;
	}

	nav.main_menu ul li a{
		font-size: 14px;
	}

	.projects_holder.v6 .mix{
		width: 23.5%;
		margin: 0 0 2%;
	}

	.projects_holder.v6 .filler {
		width: 23%;
	}
	.blog_holder .post .post_info{
		width: 10%;
	}
	.blog_holder .post .post_text{
		width: 56%;
	}
	
	.blog_holder .post.no-image .post_text{
		width: 90%;
	}
	
	.blog_holder.blog_wide .post .post_info{
		width: 10%;
	}
	
	.blog_holder.blog_wide .post .post_image{
		width: 90%;
	}
	
	.blog_holder.blog_wide .post .post_text{
		width: 90%;
		padding: 0 0 0 10%;
	}
	
	.blog_holder.blog_wide .post.no-image .post_text{
		width: 90%;
		float: left;
	}
	
	.blog_holder.blog_wide.blog_sidebar .post_info{
		width: 13%;
	}

	.blog_holder.blog_wide.blog_sidebar .post_image{
		width: 87%;
	}

	.blog_holder.blog_wide.blog_sidebar .post_text{
		width: 87%;
		padding: 0 0 0 13%;
	}
	
	.blog_holder.blog_wide.blog_sidebar .post.no-image .post_text{
		width: 87%;
		float: left;
	}
	
	.blog_holder.blog_two_cols .blog_text_image{
		width: 77%;
		float: left;
	}
	
	.blog_holder.blog_two_cols .post_info{
		width: 23%;
	}

	.blog_holder.blog_two_cols .post_image{
		width: 100%;
	}

	.blog_holder.blog_two_cols .post .post_text{
		width: 100%;
		padding:  0;
	}
	
	.blog_holder.blog_two_cols .post.no-image .post_text{
		width: 100%;
		float: left;
	}
	
	.blog_holder.blog_two_cols.blog_sidebar .post_info{
		width: 25%;
	}

	.blog_holder.blog_two_cols.blog_sidebar .blog_text_image{
		width: 75%;
	}
	
	.blog_holder.blog_inline.blog_sidebar .post_info{
		width: 15%;
	}	
	
	.blog_holder.blog_inline.blog_sidebar .post_image{
		width: 33%;
	}	
	
	.blog_holder.blog_inline.blog_sidebar .post_text{
		width: 52%;
	}	
	
	.blog_holder.blog_inline.blog_sidebar  .post.no-image  .post_text{
		width: 85%;
	}	
	
	.latest_post_holder.four{
		margin: 0px 1.95% 0px 0px;
		width: 23.5%;
	}

	.latest_post_holder.three{
		margin: 0 1.95% 0 0;
		width: 32%;
	}

	.latest_post_holder.two{
		margin: 0 1.95% 0 0;
		width: 49%;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 990px){
	
	body.boxed .wrapper,
	body.boxed header,
	.boxed nav.content_menu.fixed{
		width: 768px;
	}
	
	.boxed .container_inner,
	.boxed nav.content_menu,
	.boxed .parallax_content{
		width: 688px;
	}
	
	.container_inner,
	nav.content_menu,
	.parallax_content{
		width: 768px;
	}

	.logo{
		margin: 0px 5px 0px 0px;
	}

	.header_right_widget{
		margin: 0px;
	}

	.header_right_widget .social_menu{
		padding: 0px;
	}

	.header_right_widget .textwidget ul li{
		margin: 0px 0px 0px 2px;
	}

	nav.main_menu ul li a{
		padding: 0px 6px;
		font-size: 14px;
	}

	nav.content_menu ul li{
		margin: 0px 10px;
	}

	nav.content_menu ul li a{
		font-size: 14px;
	}

	.projects_holder.v6 .mix{
		width: 23.5%;
		margin: 0 0 2%;
	}

	.projects_holder.v6 .filler {
		width: 23%;
	}

	.projects_holder.v4 .mix{
		margin: 0 0 2.8%;
		width: 31.5%;
	}

	.projects_holder.v4 .filler{
		width: 31.5%;
	}
	
	.projects_holder.v3 .mix{
		margin: 0 0 4%;
		width: 48%;
	}

	.projects_holder.v3 .filler {
		width: 48%;
	}
	
	.blog_holder .post .post_info{
		width: 13%;
	}
	.blog_holder .post .post_text{
		width: 53%;
	}
	
	.blog_holder .post.no-image .post_text{
		width: 87%;
	}
	
	.blog_single_holder .post_info{
		width: 13%;
	}

	.blog_single_holder .post_content{
		width: 87%;
	}
	
	.comment_form_holder .comment_number{
		width: 13%;
	}

	.comment_form_holder .comment_form{
		width: 87%;
	}
	
	.blog_holder.blog_wide .post .post_info{
		width: 13%;
	}
	
	.blog_holder.blog_wide .post_image{
		width:87%;
	}
	
	.blog_holder.blog_wide .post .post_text{
		width: 87%;
		padding: 0 0 0 13%;
	}
	
	.blog_holder.blog_wide .post.no-image .post_text{
		width: 87%;
		float: left;
	}
	
	.blog_holder.blog_wide.blog_sidebar .post_info{
		width: 17%;
	}

	.blog_holder.blog_wide.blog_sidebar .post_image{
		width: 83%;
	}

	.blog_holder.blog_wide.blog_sidebar .post_text{
		width: 83%;
		padding: 0 0 0 17%;
	}
	
	.blog_holder.blog_wide.blog_sidebar .post.no-image .post_text{
		width: 83%;
		float: left;
	}
	
	.blog_holder.blog_two_cols .blog_text_image{
		width: 76%;
		float: left;
	}
	
	.blog_holder.blog_two_cols .post_info{
		width: 24%;
	}

	.blog_holder.blog_two_cols .post_image{
		width: 100%;
	}

	.blog_holder.blog_two_cols .post .post_text{
		width: 100%;
		padding:  0;
	}
	
	.blog_holder.blog_two_cols .post.no-image .post_text{
		width: 100%;
		float: left;
	}
	
	.blog_holder.blog_two_cols.blog_sidebar .post_info{
		width: 30%;
	}

	.blog_holder.blog_two_cols.blog_sidebar .blog_text_image{
		width: 70%;
	}
	
	.blog_holder.blog_inline.blog_sidebar .post_info{
		width: 19%;
	}	
	
	.blog_holder.blog_inline.blog_sidebar .post_image{
		width: 34%;
	}	
	
	.blog_holder.blog_inline.blog_sidebar .post_text{
		width: 47%;
	}	
	
	.blog_holder.blog_inline.blog_sidebar  .post.no-image  .post_text{
		width: 81%;
	}	
	
	.price_table_inner ul li .button{
		padding: 14px 30px;
	}
	
	.latest_post_holder.four{
		margin: 0px 1.95% 0px 0px;
		width: 49%;
	}

	.latest_post_holder.three{
		margin: 0 1.95% 0 0;
		width: 32%;
	}

	.latest_post_holder.two{
		margin: 0px 1.95% 0px 0px;
		width: 49%;
	}
	
	.latest_post_section .latest_post_holder.four:nth-child(2n){
		margin: 0;
	}

	.flip_icon,
	.fade_in_circle{
		width: 175px;
		height: 175px;
	}
	
	.two_columns_50_50 .line_graf,
	.two_columns_66_33 .line_graf,
	.two_columns_33_66 .line_graf,
	.two_columns_75_25 .line_graf,
	.two_columns_25_75 .line_graf,
	.two_columns_75_25 .line_graf,
	.three_columns .line_graf,
	.four_columns .line_graf,
	.two_columns_50_50 .pie_graf,
	.two_columns_66_33 .pie_graf,
	.two_columns_33_66 .pie_graf,
	.two_columns_75_25 .pie_graf,
	.two_columns_25_75 .pie_graf,
	.two_columns_75_25 .pie_graf,
	.three_columns .pie_graf,
	.four_columns .pie_graf{
		margin: 0px;
		width: 100%;
	}
	
	.two_columns_50_50 .line_graf canvas,
	.two_columns_66_33 .line_graf canvas,
	.two_columns_33_66 .line_graf canvas,
	.two_columns_75_25 .line_graf canvas,
	.two_columns_25_75 .line_graf canvas,
	.two_columns_75_25 .line_graf canvas,
	.three_columns .line_graf canvas,
	.four_columns .line_graf canvas,
	.two_columns_50_50 .pie_graf canvas,
	.two_columns_66_33 .pie_graf canvas,
	.two_columns_33_66 .pie_graf canvas,
	.two_columns_75_25 .pie_graf canvas,
	.two_columns_25_75 .pie_graf canvas,
	.two_columns_75_25 .pie_graf canvas,
	.three_columns .pie_graf canvas,
	.four_columns .pie_graf canvas,
	.two_columns_50_50 .pie_graf_legend,
	.two_columns_66_33 .pie_graf_legend,
	.two_columns_33_66 .pie_graf_legend,
	.two_columns_75_25 .pie_graf_legend,
	.two_columns_25_75 .pie_graf_legend,
	.two_columns_75_25 .pie_graf_legend,
	.three_columns .pie_graf_legend,
	.four_columns .pie_graf_legend,
	.two_columns_50_50 .line_graf_legend,
	.two_columns_66_33 .line_graf_legend,
	.two_columns_33_66 .line_graf_legend,
	.two_columns_75_25 .line_graf_legend,
	.two_columns_25_75 .line_graf_legend,
	.two_columns_75_25 .line_graf_legend,
	.three_columns .line_graf_legend,
	.four_columns .line_graf_legend{
		width: 100% !important;
		height: auto !important;
	}

}

@media only screen and (min-width: 480px) and (max-width: 768px){

	body.boxed .wrapper,
	body.boxed header,
	.boxed nav.content_menu.fixed{
		width: 420px;
	}
	
	.boxed .container_inner,
	.boxed nav.content_menu,
	.boxed .parallax_content{
		width: 340px;
	}
	
	header{
		position: relative;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
	}
	
	.title.with_image .container,
	.title.has_background .title_text,
	.title.has_fixed_background .title_text{
		bottom: 10%;
	}
	
	.content{
		padding: 0px;
		margin: -3px 0px 0px 0px;
	}

	.header_right_widget{
		line-height: normal !important;
		padding: 25px 0px;
	}

	.main_menu{
		display: none !important;
	}

	.selectnav {
		display: block;
		margin: 0px;
	}

	.selectnav_button{
		display: block;
	}

	header .logo{
		position: relative;
		top: 0px !important;
	}

	header .logo img{
		top: 0px;
	}

	.container_inner,
	nav.content_menu,
	.parallax_content{
		width: 420px;
	}
	
	.container_inner{
		padding: 0px !important;
	}
	
	nav.content_menu{
		position: relative !important;
		top: 0px !important;
	}
	
	nav.content_menu ul.menu{
		display: none;
	}
	
	nav.content_menu .nav_select_menu{
		display: block;
	}
	
	nav.content_menu .back_outer{
		display: none;
	}

	.two_columns_50_50 .column1, .two_columns_50_50 .column2,
	.three_columns .column1, .three_columns .column2, .three_columns .column3,
	.two_columns_66_33 .column1, .two_columns_66_33 .column2,
	.two_columns_33_66 .column1, .two_columns_33_66 .column2,
	.two_columns_75_25 .column1, .two_columns_75_25 .column2,
	.two_columns_25_75 .column1, .two_columns_25_75 .column2,
	.four_columns .column1, .four_columns .column2, .four_columns .column3, .four_columns .column4{
		width: 100%;
		border: none;
		margin: 0px 0px 20px 0px;
	}
	
	.two_columns_50_50 .column1 .column_inner, .two_columns_50_50 .column2 .column_inner,
	.three_columns .column1 .column_inner, .three_columns .column2 .column_inner, .three_columns .column3 .column_inner,
	.two_columns_66_33 .column1 .column_inner, .two_columns_66_33 .column2 .column_inner,
	.two_columns_33_66 .column1 .column_inner, .two_columns_33_66 .column2 .column_inner,
	.two_columns_75_25 .column1 .column_inner, .two_columns_75_25 .column2 .column_inner,
	.two_columns_25_75 .column1 .column_inner, .two_columns_25_75 .column2 .column_inner,
	.four_columns .column1 .column_inner, .four_columns .column2 .column_inner, .four_columns .column3 .column_inner, .four_columns .column4 .column_inner{
		padding: 0px;
	}

	.footer_top .four_columns .column1, .footer_top .four_columns .column2, .footer_top .four_columns .column3, .footer_top .four_columns .column4{
		width: 100%;
	}

	.footer_top .four_columns .column2 .column_inner, 
	.footer_top .four_columns .column4 .column_inner{
		padding: 0px 0px 0px 20px;
	}

	.footer_top .four_columns .column1 .column_inner, 
	.footer_top .four_columns .column2 .column_inner, 
	.footer_top .four_columns .column3 .column_inner, 
	.footer_top .four_columns .column4 .column_inner{
		margin: 0px 0px 30px 0px;
	}

	.footer_top{
		padding: 70px 0px 20px 0px;
	}

	.projects_holder.v6 .mix{	
		margin: 0 0 4%;
		width: 48%;
	}
	
	.projects_holder.v6 .filler{
		width: 100%;
	}

	.projects_holder.v4 .mix{	
		margin: 0 0 9%;
		width: 100%;
	}
	
	.projects_holder.v4 .filler{
		width: 100%;
	}
	
	.projects_holder.v3 .mix{
		margin: 0 0 9%;
		width: 100%;
	}

	.projects_holder.v3 .filler {
		width: 100%;
	}
	
	.projects_holder.v2 .mix{
		margin: 0 0 9%;
		width: 100%;
	}

	.projects_holder.v2 .filler {
		width: 100%;
	}

	.filter_outer{
		position: relative;
	}

	.filter_holder{
		position: relative !important;
		margin: 0px 0px 30px !important;
		text-align: left !important;
		top: 0px !important;
	}

	.filter_holder ul li.label{
		position: relative !important;
	}

	.portfolio_navigation{
		position: relative !important;
		top: 0px !important;
	}

	.portfolio_navigation_holder{
		margin: 0px 0px 50px 0px !important;
	}

	.portfolio_navigation_holder.has_title{
		margin: 0px 0px 50px !important;
	}

	.portfolio_single .flexslider{
		margin: 0px 0px 50px 0px;
	}
	
	.blog_holder .post .post_info, .blog_holder .post .post_image, .blog_holder .post .post_text{
		float: none;
		width: 100%;
	}
	
	.blog_holder .post .post_info .inner,  .blog_holder .post .post_text .inner{
		padding: 0px;
	}
	
	.blog_holder .post .post_image .inner{
		padding: 0 0 20px 0;
	}
	
	.post_info .inner{
		display: inline-block;
		width: 100%;
	}
	
	.post_date{
		float: left;
		padding: 0 20px 0 0;
	}
	
	.post_author_category{
		float: left;
	}
	.post_info .comment_number{
		float:right;
		text-align: right;
	}
	
	.blog_single_holder .post_info{
		width: 100%;
	}

	.blog_single_holder .post_content{
		width: 100%;
	}
	
	.comment_form_holder .comment_number{
		width: 100%;
		padding: 0 0 30px 0;
	}

	.comment_form_holder .comment_form{
		width: 100%;
	}
	
	.blog_holder.blog_wide .post_text{
		padding: 0px;
		width: 100%;
	}
	
	.blog_holder.blog_wide .post.no-image .post_text{
		width: 100%;
	}

	.blog_holder.blog_wide.blog_sidebar .post_image, .blog_holder.blog_wide.blog_sidebar .post.no-image .post_text, .blog_holder.blog_wide.blog_sidebar .post_info{
		width: 100%;
	}

	.blog_holder.blog_wide.blog_sidebar .post_text{
		width: 100%;
		padding: 0;
	}
	
	.blog_holder.blog_two_cols .post_info{
		width: 100%;
	}

	.blog_holder.blog_two_cols .post_image{
		width: 100%;
	}

	.blog_holder.blog_two_cols .post .post_text{
		width: 100%;
		padding:  0;
	}
	
	.blog_holder.blog_two_cols .post.no-image .post_text{
		width: 100%;
		float: left;
	}
	
	.blog_holder.blog_two_cols .blog_row article{
		float: none;
		width: 100%;
	}
	
	.blog_holder.blog_two_cols .blog_row article .article_inner{
		padding: 0;
	}
	
	.blog_holder.blog_two_cols .blog_row article .post{
		padding: 65px 0px 20px 0px;
	}
	
	.blog_holder.blog_two_cols .blog_row{
		padding: 0px;
	}
	
	.blog_holder.blog_two_cols .blog_text_image{
		float: none;
		width: 100%;
	}
	
	.blog_holder .post.no-image .post_text{
		width: 100%;
	}
	
	.blog_holder.blog_wide .post_image{
		padding: 0;
	}
	
	.blog_holder.blog_two_cols.blog_sidebar .post_info{
		width: 100%;
	}

	.blog_holder.blog_two_cols.blog_sidebar .blog_text_image{
		width: 100%;
	}
	
	.comment_holder .comment .text .replay, .comment_holder .comment .text .comment-reply-link{
		position: relative;
	}
	
	.comment_holder .comment .text .name{
		padding: 0;
	}
	
	.blog_holder.blog_inline.blog_sidebar .post_info, 
	.blog_holder.blog_inline.blog_sidebar .post_image, 
	.blog_holder.blog_inline.blog_sidebar .post_text, 
	.blog_holder.blog_inline.blog_sidebar .post.no-image .post_text{
		width: 100%;
	}	
	
	.price_table{
		width: 49.75%;
		float: left;
		margin: 0px 0.4% 45px 0px;
		padding: 0px 0px 0px 0px;
		position: relative;
	}

	.price_table:nth-child(2n){
		margin: 0px 0px 45px 0px;
	}

	.latest_post_holder.four{
		width: 100%;
		margin: 0 0 10px 0;
	}

	.latest_post_holder.three{
		width: 100%;
		margin: 0 0 10px 0;
	}

	.latest_post_holder.two{
		width: 100%;
		margin: 0 0 10px 0;
	}
	
	.contact_form{
		margin: 0 0 50px 0;
	}
	
	.flip_image_holder{
		margin: 0 0 5px 0;
	}

	.progress_bars_vertical{
		width: 130px !important;
		margin: 0px 10px 20px 0px !important;
	}
	
	.parallax section {
    height: auto !important;
		min-height: 400px;
	}
	
	.line_graf,
	.pie_graf{
		margin: 0px;
		width: 100%;
	}
	
	.line_graf canvas,
	.pie_graf canvas,
	.pie_graf_legend,
	.line_graf_legend{
		width: 100% !important;
		height: auto !important;
	}
}

@media only screen and (max-width: 480px){

	body.boxed .wrapper,
	body.boxed header,
	.boxed nav.content_menu.fixed{
		width: 300px;
	}
	
	.boxed .container_inner,
	.boxed nav.content_menu,
	.boxed .parallax_content{
		width: 220px !important;
	}

	header{
		position: relative;
		-webkit-transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
	}
	
	.title.with_image .container,
	.title.has_background .title_text,
	.title.has_fixed_background .title_text{
		bottom: 10%;
	}

	.content{
		padding: 0px;
		margin: -3px 0px 0px 0px;
	}
	
	.header_right_widget{
		line-height: normal !important;
		padding: 25px 0px;
		margin: 0px 0px 0px 10px;
	}

	.main_menu{
		display: none !important;
	}

	.selectnav {
		display: block;
		margin: 0px;
	}

	.selectnav_button{
		display: block;
		float: left;
	}

	header .logo{
		position: relative;
		top: 0px !important;
		margin: 0px 0px 0px 0px;
		float: none;
	}

	header .logo img{
		top: 0px;
	}

	.container_inner,
	nav.content_menu,
	.parallax_content{
		width: 300px !important;
	}
	
	.container_inner{
		padding: 0px !important;
	}
	
	nav.content_menu{
		position: relative !important;
		top: 0px !important;
	}
	
	nav.content_menu ul.menu{
		display: none;
	}
	
	nav.content_menu .nav_select_menu{
		display: block;
	}
	
	nav.content_menu .back_outer{
		display: none;
	}

	.two_columns_50_50 .column1, .two_columns_50_50 .column2,
	.three_columns .column1, .three_columns .column2, .three_columns .column3,
	.two_columns_66_33 .column1, .two_columns_66_33 .column2,
	.two_columns_33_66 .column1, .two_columns_33_66 .column2,
	.two_columns_75_25 .column1, .two_columns_75_25 .column2,
	.two_columns_25_75 .column1, .two_columns_25_75 .column2,
	.four_columns .column1, .four_columns .column2, .four_columns .column3, .four_columns .column4,
	.footer_top .four_columns .column1, .footer_top .four_columns .column2, .footer_top .four_columns .column3, .footer_top .four_columns .column4{
		width: 100%;
		border: none;
		margin: 0px 0px 20px 0px;
	}
	
	.two_columns_50_50 .column1 .column_inner, .two_columns_50_50 .column2 .column_inner,
	.three_columns .column1 .column_inner, .three_columns .column2 .column_inner, .three_columns .column3 .column_inner,
	.two_columns_66_33 .column1 .column_inner, .two_columns_66_33 .column2 .column_inner,
	.two_columns_33_66 .column1 .column_inner, .two_columns_33_66 .column2 .column_inner,
	.two_columns_75_25 .column1 .column_inner, .two_columns_75_25 .column2 .column_inner,
	.two_columns_25_75 .column1 .column_inner, .two_columns_25_75 .column2 .column_inner,
	.four_columns .column1 .column_inner, .four_columns .column2 .column_inner, .four_columns .column3 .column_inner, .four_columns .column4 .column_inner{
		padding: 0px;
	}

	.footer_top .four_columns .column1 .column_inner, 
	.footer_top .four_columns .column2 .column_inner, 
	.footer_top .four_columns .column3 .column_inner, 
	.footer_top .four_columns .column4 .column_inner{
		margin: 0px 0px 30px 0px;
	}

	.footer_top{
		padding: 70px 0px 20px 0px;
	}

	.projects_holder.v6 .mix{	
		margin: 0 0 9%;
		width: 100%;
	}
	
	.projects_holder.v6 .filler{
		width: 100%;
	}

	.projects_holder.v4 .mix{	
		margin: 0 0 9%;
		width: 100%;
	}

	.projects_holder.v4 .filler{
		width: 100%;
	}
	
	.projects_holder.v3 .mix{
		margin: 0 0 9%;
		width: 100%;
	}

	.projects_holder.v3 .filler {
		width: 100%;
	}
	
	.projects_holder.v2 .mix{
		margin: 0 0 9%;
		width: 100%;
	}

	.projects_holder.v2 .filler {
		width: 100%;
	}

	.filter_outer{
		position: relative;
	}

	.filter_holder{
		position: relative !important;
		margin: 0px 0px 30px !important;
		text-align: left !important;
		top: 0px !important;
	}

	.filter_holder ul li.label{
		position: relative !important;
	}

	.portfolio_navigation{
		position: relative !important;
		top: 0px !important;
	}

	.portfolio_navigation_holder{
		margin: 0px 0px 50px 0px !important;
	}

	.portfolio_navigation_holder.has_title{
		margin: 0px 0px 50px !important;
	}

	.portfolio_single .flexslider{
		margin: 0px 0px 50px 0px;
	}
	
	.blog_holder .post .post_info, .blog_holder .post .post_image, .blog_holder .post .post_text{
		float: none;
		width: 100%;
	}
	
	.blog_holder .post .post_info .inner, .blog_holder .post .post_text .inner{
		padding: 0px;
	}
	
	.blog_holder .post .post_image .inner{
		padding: 0 0 20px 0;
	}
	
	.post_info .inner{
		display: inline-block;
		width: 100%;
	}
	
	.post_date{
		float: left;
		padding: 0 20px 0 0;
	}
	
	.post_author_category{
		float: left;
	}
	.post_info .comment_number{
		float:right;
		text-align: right;
	}
	
	.blog_single_holder .post_info{
		width: 100%;
	}

	.blog_single_holder .post_content{
		width: 100%;
	}
	
	.comment_form_holder .comment_number{
		width: 100%;
		padding: 0 0 30px 0;
	}

	.comment_form_holder .comment_form{
		width: 100%;
	}
	
	.blog_holder.blog_wide .post_text{
		padding: 0px;
		width: 100%;
	}
	
	.blog_holder.blog_wide.blog_sidebar .post_info, .blog_holder.blog_wide.blog_sidebar .post_text, .blog_holder.blog_wide.blog_sidebar .post_image, .blog_holder.blog_wide.blog_sidebar .post.no-image .post_text{
		width: 100%;
		padding: 0;
	}
	
	.blog_holder.blog_two_cols .post_info{
		width: 100%;
	}

	.blog_holder.blog_two_cols .post_image{
		width: 100%;
	}

	.blog_holder.blog_two_cols .post .post_text{
		width: 100%;
		padding:  0;
	}
	
	.blog_holder.blog_two_cols .post.no-image .post_text{
		width: 100%;
		float: left;
	}
	
	.blog_holder.blog_two_cols .blog_row article{
		float: none;
		width: 100%;
	}
	
	.blog_holder.blog_two_cols .blog_row article .article_inner{
		padding: 0;
	}
	
	.blog_holder.blog_two_cols .blog_row article .post{
		padding: 65px 0px 20px 0px;
	}
	
	.blog_holder.blog_two_cols .blog_row{
		padding: 0px;
	}
	
	.blog_holder.blog_two_cols .blog_text_image{
		float: none;
		width: 100%;
	}
	
	.blog_holder .post.no-image .post_text{
		width: 100%;
	}
	
	.blog_holder.blog_wide .post_image{
		padding: 0;
	}
	
	.blog_holder.blog_two_cols.blog_sidebar .post_info{
		width: 100%;
	}

	.blog_holder.blog_two_cols.blog_sidebar .blog_text_image{
		width: 100%;
	}
	
	.comment_holder .comment .text .replay, .comment_holder .comment .text .comment-reply-link{
		position: relative;
	}
	
	.comment_holder .comment .text .name{
		padding: 0;
	}
	
	.blog_holder.blog_inline.blog_sidebar .post_info, 
	.blog_holder.blog_inline.blog_sidebar .post_image, 
	.blog_holder.blog_inline.blog_sidebar .post_text, 
	.blog_holder.blog_inline.blog_sidebar .post.no-image .post_text{
		width: 100%;
	}
	
	.price_table{
		width: 99.99%;
		float: left;
		margin: 0px 0px 45px 0px;
		padding: 0px 0px 0px 0px;
		position: relative;
	}

	.latest_post_holder.four{
		width: 100%;
		margin: 0 0 10px 0;
	}

	.latest_post_holder.three{
		width: 100%;
		margin: 0 0 10px 0;
	}

	.latest_post_holder.two{
		width: 100%;
		margin: 0 0 10px 0;
	}
	
	.contact_form{
		margin: 0 0 50px 0;
	}
	
	.flip_image_holder{
		margin: 0 0 5px 0;
	}

	.progress_bars_vertical{
		width: 95px !important;
		margin: 0px 5px 20px 0px !important;
	}
	
	.parallax section {
    height: auto !important;
		min-height: 400px;
	}
	
	.line_graf,
	.pie_graf{
		margin: 0px;
		width: 100%;
	}
	
	.line_graf canvas,
	.pie_graf canvas,
	.pie_graf_legend,
	.line_graf_legend{
		width: 100% !important;
		height: 100%;
	}
}