/*
	CSS File for JF MP3 Player 1.3.0 - Default Theme
*/
#jfmp3_containerDiv{
width: 400px;
min-width: 400px;
height: 51px;
min-height: 51px;
position: relative;
}
#jfmp3_nowPlaying{
width: 382px;
min-width: 382px;
height: 20px;
min-height: 20px;
background: url(main.png) no-repeat -1px 0;
margin: 0 auto;
position: relative;
}
#jfmp3_nowPlaying div{
color: #fff;
font-family: Arial;
font-size: 11px;
padding: 3px 0 0;
text-align: center;
}
#jfmp3_mainControl{
width: 400px;
min-width: 400px;
min-height: 31px;
height: 31px;
background: url(main.png) no-repeat -1px -24px;
position: relative;
}
#jfmp3_innerControl{
position: absolute;
top: 7px;
padding: 0 0 0 13px;
height: 20px;
min-height: 20px;
left:-5px;
}
#jfmp3_previous{
width: 16px;
min-width: 16px;
height: 17px;
min-height: 17px;
background: url(main.png) no-repeat -3px -150px;
cursor: pointer;
float: left;
}
#jfmp3_spp{
width: 16px;
min-width: 16px;
height: 17px;
min-height: 17px;
cursor: pointer;
float: left;
margin: 0 3px;
}
#jfmp3_spp.stop{
background: url(main.png) no-repeat -3px -85px;
}
#jfmp3_spp.play{
background: url(main.png) no-repeat -3px -107px;
}
#jfmp3_spp.pause{
background: url(main.png) no-repeat -2px -62px;
}
/*--start--Thank you IE6*/
div.stop{
background: url(main.png) no-repeat -3px -85px;
}
div.play{
background: url(main.png) no-repeat -3px -107px;
}
div.pause{
background: url(main.png) no-repeat -2px -62px;
}
/*--end--We Love IE6*/
#jfmp3_next{
width: 16px;
min-width: 16px;
height: 17px;
min-height: 17px;
background: url(main.png) no-repeat -3px -129px;
cursor: pointer;
float: left;
}
#jfmp3_trackBar{
width: 235px;
min-width: 235px;
height: 3px;
min-height: 3px;
background-color: #fff;
position: absolute;
float: left;
left: 95px;
top: 50%;
cursor: pointer;
margin: -2px 0 0;
}
#jfmp3_streamed{
position: absolute;
z-index: 5;
width: 0;
height: 3px;
min-height: 3px;
top: 0;
background-color: #d3d3d3;
}
#jfmp3_trackBarKnob{
position: absolute;
background: url(main.png) no-repeat -9px -230px;
width: 18px;
height: 13px;
min-height: 13px;
min-width: 18px;
top: -5px;
cursor: pointer;
z-index: 10;
}
#jfmp3_muteUn{
width: 25px;
min-width: 25px;
height: 20px;
min-height: 20px;
background: url(main.png) no-repeat -3px -194px;
cursor: pointer;
float: left;
position: absolute;
z-index: 5;
top: 26px;
left: 66px;
}
#jfmp3_muteUn.muted{background: url(main.png) no-repeat -3px -171px}
#jfmp3_volumeBar{
width: 14px;
min-width: 14px;
height: 88px;
min-height: 88px;
background: url(main.png) no-repeat -35px -65px;
cursor: pointer;
position: absolute;
z-index: 2;
top: 30px;
visibility: hidden;
left: 71px;
}
#jfmp3_volumeSlider{
width: 14px;
min-width: 14px;
height: 65px;
min-height: 65px;
position: absolute;
top: 19px;
}
#jfmp3_volumeKnob{
width: 12px;
min-width: 12px;
height: 6px;
min-height: 6px;
background: url(main.png) no-repeat -36px -156px;
cursor: pointer;
position: absolute;
z-index: 4;
left: 1px;
}
#jfmp3_playList{
position: relative;
z-index: 1;
}
#jfmp3_subDiv{
width: 380px;
min-width: 380px;
height: 93px;
min-height: 93px;
background: url(main.png) no-repeat -61px -160px;
margin: 0 auto;
position: relative;
z-index: 1;
}
#jfmp3_subDivDiv{
position: relative;
}
#jfmp3_subDiv ul {
list-style-type: decimal;
padding: 0;
margin: 0 0 0 40px;
font-size: 11px;
font-family: Arial;
position: relative;
top: 3px;
}
#jfmp3_subDiv ul li{
background-color: #f0f0f0;
margin-bottom: 1px;
line-height: 18px;
}
#jfmp3_subDiv ul li a{
text-decoration: none;
color: #000;
outline: none;
}
#jfmp3_subDiv ul li:hover{
background-color: #dfdfdf;
}
#jfmp3_tP{
width: 25px;
min-width: 25px;
height: 22px;
min-height: 22px;
background: url(main.png) no-repeat -3px -247px;
cursor: pointer;
position: absolute;
left: 333px;
top: -1px;
}
#jfmp3_repeat{
width: 23px;
min-width: 23px;
height: 26px;
min-height: 26px;
background: url(main.png) no-repeat -52px -259px;
cursor: pointer;
position: absolute;
left: 356px;
top: -3px;
}
#jfmp3_repeat.off{background: url(main.png) no-repeat -82px -259px}
#jfmp3_shuffle{
width: 23px;
min-width: 23px;
height: 20px;
min-height: 20px;
background: url(main.png) no-repeat -156px -263px;
cursor: pointer;
position: absolute;
left: 377px;
top: 0;
}
#jfmp3_shuffle.off{background: url(main.png) no-repeat -122px -263px;}
#jfmp3_subDivDiv{
overflow: hidden;
width: 248px;
height: 75px;
min-height: 75px;
min-width: 248px;
float: left;
}
#jfmp3_scrollBar{
float: left;
position: relative;
top: 3px;
cursor: pointer;
}
.jfmp3_scrollBar{
height: 74px;
width: 11px;
min-height: 74px;
min-width: 11px;
background: url(main.png) no-repeat -37px -166px;
}
.jfmp3_scrollBarHandle{
height: 17px;
width: 11px;
min-height: 17px;
min-width: 11px;
background: url(main.png) no-repeat -37px -244px;
}
#jfmp3_coverart{
width: 100px;
min-width: 100px;
height: 75px;
min-height: 75px;
float: left;
position: relative;
left: 5px;
top: 3px;
}
#jfmp3_coverart img{
max-width: 100px;
max-height: 75px;
}
.jfmp3_colored{
color: blue !important;
}
.jfmp3_uncolored{
color: black !important;
}
#jfmp3_prePlaylist{
display:none	
}