<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'entidades_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="entidades.id.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="entidades.identificacion.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(identificacion)%%><%%ENDSELECT%%></td>
		<td id="entidades.nombre.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(nombre)%%><%%ENDSELECT%%></td>
		<td id="entidades.ruta_logo.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(ruta_logo)%%><%%ENDSELECT%%></td>
		<td id="entidades.direccion.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(direccion)%%><%%ENDSELECT%%></td>
		<td id="entidades.telefono.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(telefono)%%><%%ENDSELECT%%></td>
		<td id="entidades.email_admin.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(email_admin)%%><%%ENDSELECT%%></td>
		<td id="entidades.nombre_admin.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(nombre_admin)%%><%%ENDSELECT%%></td>
		<td id="entidades.id_pais.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(id_pais)%%><%%ENDSELECT%%></td>
		<td id="entidades.id_departamento.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(id_departamento)%%><%%ENDSELECT%%></td>
		<td id="entidades.id_municipio.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(id_municipio)%%><%%ENDSELECT%%></td>
