<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td class=TableHeader colspan=3 height=25>
			<div class="buttons" style="float: right;">
				<a href="ex_examenes_preguntas_view.php?FilterField[1]=2&FilterOperator[1]=%3C%3D%3E&FilterValue[1]=<%%VALUE(cod_examen)%%> - <%%URLVALUE(nom_examen)%%>" style="visibility: hidden;" id="ex_examenes_preguntas_link">Exams Questions <img src="view.gif" /></a>
				<a href="ex_usuarios_examenes_view.php?FilterField[1]=3&FilterOperator[1]=%3C%3D%3E&FilterValue[1]=<%%VALUE(cod_examen)%%> - <%%URLVALUE(nom_examen)%%>" style="visibility: hidden;" id="ex_usuarios_examenes_link">Users Exams <img src="view.gif" /></a>
				</div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID Exam</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(cod_examen)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Name Exam</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="100" size="60" type="text" class="TextBox" name="nom_examen" id="nom_examen" value="<%%VALUE(nom_examen)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Type</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="1" size="10" type="text" class="TextBox" name="tipo" id="tipo" value="<%%VALUE(tipo)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Time</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="10" type="text" class="TextBox" name="tiempo" id="tiempo" value="<%%VALUE(tiempo)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Description</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%HTMLAREA(descripcion)%%></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>

	<script type="text/javascript" src="nicEdit.js"></script>
	<script language="javaScript"><!-- 
		bkLib.onDomLoaded(function(){
			if(document.getElementById('descripcion')!=undefined)
				new nicEditor().panelInstance('descripcion');
		}); //--></script>

	<script>
		if(document.getElementsByName('nom_examen').length){
			document.getElementsByName('nom_examen')[0].focus();
		}
	</script>