<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td class=TableHeader colspan=3 height=25>
			<div class="buttons" style="float: right;">
				<a href="ex_usuarios_examenes_view.php?FilterField[1]=2&FilterOperator[1]=%3C%3D%3E&FilterValue[1]=<%%VALUE(key_user)%%> - <%%URLVALUE(cod_usuario)%%>" style="visibility: hidden;" id="ex_usuarios_examenes_link">Users Exams <img src="view.gif" /></a>
				</div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID CU</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(key_user)%%>&nbsp;&nbsp;<a href="#" onclick="return showDescription('ex_empresas_usuarios', 'key_user', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID Company</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><span style="float: left;"><%%COMBO(cod_empresa)%%></span> <%%PLINK(cod_empresa)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID User</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="50" size="50" type="text" class="TextBox" name="cod_usuario" id="cod_usuario" value="<%%VALUE(cod_usuario)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Passsword</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="40" size="40" type="text" class="TextBox" name="clave" id="clave" value="<%%VALUE(clave)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('cod_empresa').length){
			document.getElementsByName('cod_empresa')[0].focus();
		}
	</script>