<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">cod_ilto_user</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="10" size="10" type="text" class="TextBox" name="cod_ilto_user" id="cod_ilto_user" value="<%%VALUE(cod_ilto_user)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">nom_ilto_user</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="50" size="50" type="text" class="TextBox" name="nom_ilto_user" id="nom_ilto_user" value="<%%VALUE(nom_ilto_user)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">clave_ilto_user</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="60" type="text" class="TextBox" name="clave_ilto_user" id="clave_ilto_user" value="<%%VALUE(clave_ilto_user)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">tipo_ilto_user</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="1" size="10" type="text" class="TextBox" name="tipo_ilto_user" id="tipo_ilto_user" value="<%%VALUE(tipo_ilto_user)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('cod_ilto_user').length){
			document.getElementsByName('cod_ilto_user')[0].focus();
		}
	</script>