<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_usuarios_examenes_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_usuarios_examenes.key_user_exam.<%%VALUE(key_user_exam)%%>" valign="top" width="100" class="TableBodyNumeric">11<%%SELECT%%><%%VALUE(key_user_exam)%%><%%ENDSELECT%%></td>
		<td id="ex_usuarios_examenes.key_user.<%%VALUE(key_user_exam)%%>" valign="top" width="300" class="TableBody"><%%SELECT%%><%%VALUE(key_user)%%><%%ENDSELECT%%></td>
		<td id="ex_usuarios_examenes.cod_examen.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(cod_examen)%%><%%ENDSELECT%%></td>
		<td id="ex_usuarios_examenes.estado.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(estado)%%><%%ENDSELECT%%></td>
		<td id="ex_usuarios_examenes.fecha_presentacion.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(fecha_presentacion)%%><%%ENDSELECT%%></td>
		<td id="ex_usuarios_examenes.hora_inicial.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(hora_inicial)%%><%%ENDSELECT%%></td>
		<td id="ex_usuarios_examenes.hora_final.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(hora_final)%%><%%ENDSELECT%%></td>
		<td id="ex_usuarios_examenes.puntaje.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(puntaje)%%><%%ENDSELECT%%></td>
