<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td class=TableHeader colspan=3 height=25>
			<div class="buttons" style="float: right;">
				</div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID User</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="50" size="50" type="text" class="TextBox" name="cod_usuario" id="cod_usuario" value="<%%VALUE(cod_usuario)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Name User</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="100" size="60" type="text" class="TextBox" name="nom_usuario" id="nom_usuario" value="<%%VALUE(nom_usuario)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Email</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top">
						<a href="mailto:<%%VALUE(email)%%>" target="_blank"><img src="mailLink.gif" border="0" title="<%%VALUE(email)%%>"></a>
						<a id="emailEditLink" href="#" onclick="$('emailEdit').toggle(); return false;"><img src="edit.gif" border="0" align="right"></a>
						<div id="emailEdit" style="display: none;">
						<input maxlength="150" size="60" type="text" class="TextBox" name="email" id="email" value="<%%VALUE(email)%%>">&nbsp;&nbsp;
						</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('cod_usuario').length){
			document.getElementsByName('cod_usuario')[0].focus();
		}
	</script>