.tm_timeline {
	padding: 0;

	& &__event__dot {
		width: 19px;
		height: 19px;
		box-shadow: none;
		display: flex;
		align-items: center;
		justify-content: center;

		&:before {
			content: '';
			width: 11px;
			height: 11px;
			border-radius: 50%;
		}
	}

	& &__event__title {
		font-size: 22px;
		line-height: 1.35;
		margin-bottom: 15px;

		a:not(:hover) {
			color: inherit;
		}
	}

	& &__event__description {
		font-size: 16px;
		line-height: 1.5;
	}

	& &__event {
		z-index: 1;
	}

	& &__event__date {
		white-space: nowrap;
	}

	// Clear native transform.
	& &__event &__event__date,
	& &__event &__event__title,
	& &__event &__event__description {
		transform: none;
	}

	// Vertical layout
	&.tm_timeline-layout-vertical {

		&.tm_timeline-layout-vertical-chessOrder {
			.tm_timeline__container {
				margin: 0;
			}

			.tm_timeline__body {
				position: relative;
			}

			.tm_timeline__tense {
				margin-left: 0;
				margin-top: 8px;
				width: 1px;
				height: calc(100% - 8px);

				@include media-breakpoint-up(md) {
					margin-left: auto;
				}
			}

			.tm_timeline__event {
				max-width: 100%;

				@include media-breakpoint-up(md) {
					max-width: 50%;
				}
			}

			.tm_timeline__event-odd {
				@include translate(0, 0);
				@include media-breakpoint-up(md) {
					@include translate(50%, 0);
				}
			}

			.tm_timeline__event-even {
				@include translate(0, 0);
				text-align: left;

				@include media-breakpoint-up(md) {
					padding-right: 25px;
					padding-left: 0;
					@include translate(-50%, 0);
					text-align: right;
				}

				.tm_timeline__event__dot {
					@include media-breakpoint-up(md) {
						left: auto;
						right: 0;
						@include translate(50%, 0);
					}
				}

				.tm_timeline__event__date {
					@include media-breakpoint-up(md) {
						right: auto;
						left: calc(100% + 35px);
					}
				}
			}
		}

		.tm_timeline__container {
			max-width: 100%;

			@include media-breakpoint-down(sm) {
				margin-left: 0;
				margin-right: 0;
				padding-left: 10px;
			}
		}

		.tm_timeline__body-tense {
			border-left: 1px solid;
		}

		.tm_timeline__event__dot {
			@include translate(calc(-50% - 0.5px), 0);
			position: absolute;
			top: 4px;
			left: 0;
		}

		.tm_timeline__event__date {
			@include media-breakpoint-up(md) {
				position: absolute;
				top: 4px;
				right: calc(100% + 35px);
				max-width: 100%;
			}
		}

		.tm_timeline__event {
			padding-left: 25px;
			margin-bottom: 40px;
			max-width: 100%;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	// Horizontal layout
	&.tm_timeline-layout-horizontal {
		text-align: center;

		.tm_timeline__body{
			overflow: visible;
			position: relative;
			padding-bottom: 40px;
		}

		.tm_timeline__container {
			flex-wrap: wrap;
			margin: 0 auto;
		}

		.tm_timeline__pages {
			padding-bottom: 0;
		}

		.tm_timeline__event {
			text-align: center;
			flex-basis: 100%;
			margin: 0 5px;
		}

		.tm_timeline__tense {
			height: 1px;
			top: auto;
			bottom: 0;
			transform: none;
		}

		.tm_timeline__event__dot {
			left: 50%;
			top: auto;
			bottom: -40px;
			transform: translate(-50%, 50%);
		}
	}

	.contol_wrap {

		display: flex;
		flex-wrap: nowrap;
		width: 100%;
		justify-content: center;
		align-items: center;
		margin-top: 40px;

		.tm_timeline__control {
			margin: 0;
			@include translate(0, 0);
			opacity: 1 !important;
			position: relative;
			top: auto;
			right: auto;
			left: auto;
			border-radius: 0;
			border: none;
			padding: 13px;
			font-size: 24px;
			line-height: 1;
			background-color: transparent;

			&,
			.entry-content &:hover {
				box-shadow: none;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				transition: $bounce;
			}

			i {
				font-size: 1em;
				width: 1em;
				line-height: 1;
				position: relative;
				z-index: 1;
			}

			&:hover {
				&:before {
					transform: scale(1.2);
				}
			}

			&.tm_timeline__control-slide-left {
				margin-right: 30px;
			}
		}
	}
}
