<span style='color: #000'>359 frames</span>	<span style='color: #900'>15,104 KB</span>	<span style='color: #090'>268.71 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />