/* 
    Document   : pcmac
    Created on : 13-feb-2013, 16:24:43
    Author     : santos
    Description:
        Purpose of the stylesheet follows.
*/
body{
    /*background-image: url('../img/general_bg.jpg');*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}
 
.transparente{
    background: rgba(238, 89, 89, 0.2);
    margin:auto;
    max-width:40%;
    
}

.row label {
    float:left;
    margin-right:10px;
    font-size: 105%;
    width:200px;
}

.row{
    line-height: 30px;
}
/* Ajustar el tamaño de los botones del GridView */
.grid-view .button-column img {
border: 0;
width: 18px;
}

div ul li input {
float: left;
margin-right: 10px;
}

.grid-view .button-column {
text-align: center;
width: 90px;
}
.navbar .nav.pull-right{
    background-color: #a30c22;
}


.rowDocumentos{
    font-size:12px;
    line-height: 48px;
    float:left;
}
.rowDocumentos input {
    height: auto;
    font-size: 12px;
}

.rowDocumentos label{
    float:left;
    margin-left: 5px;
    margin-right: 10px;
}
.fila_tabla{
    width:100%;
    clear:both;
    height:20px;
	padding-bottom: 10px;
}
.columna_tabla{
    float:left;
    margin-left:10px;
    
}

.encabezado_cargar{
    width:900px;
    height: auto;
    display: block;
    clear:both;
}

.column {
    float: left;
    padding: 5px;
}

.column label {
font-size: 10px;
}

.caja_consultas {
    font-size:10px;
}

.caja_consultas select {
    font-size: 10px;
}

.btn_delete{
    background-image: url(../../../images/iconos/delete.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size:14px 14px;
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    width:16px;
    padding-left: 0px;     /* make text start to the right of the image */
    vertical-align: top; /* align the text vertically centered */
    float:left;
}


.btn_search{
    background-image: url(../../../images/iconos/search.png); /* 16px x 16px */
    background-color: transparent; /* make the button transparent */
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-size:14px 14px;
    background-position: 0px 0px;  /* equivalent to 'top left' */
    border: none;           /* assuming we don't want any borders */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    height: 16px;           /* make this the size of your image */
    width:16px;
    padding-left: 0px;     /* make text start to the right of the image */
    vertical-align: top;  /* align the text vertically centered */
    
}

ul.dropdown li:hover{
    background-color:#468847;
}

.contenido{
	text-align: left;
	background-color: #FCFCFC;
		
	
}
.contenido td{
	padding-left:15px;
	}
	
	
.totales{
	text-align: left;
	background-color: #F5E1E1;	
}

.totales td{
	font-weight:bold;
	padding-left:15px;
	}
	
.numero{
	text-align: right;
}

.mes{
	width:110px;		
}

.anio{
	width:70px;		
}
.descripcion{
    text-align:right;
    font-weight: bold;
}	
.parcial{
    text-align:right;
    font-weight: bold;
}	
.sucursal{
    text-align:center;
    font-weight: bold;
    background-color: #F0F0F0;	
}	
.tercero{
    text-align:center;
    font-weight: bold;
    text-decoration: underline;
    background-color: #FBFBFB;	
}

.informe{
	overflow: auto;
	width: 800px;
	height: 600px;
	position: absolute;	
}	

.sucursales{
	width:70px;	
}	

.text_sucursal{
        font-size:120%;
        font-weight: bold;
        height: 48px;
        line-height: normal;
        vertical-align: top;
}
.plugin_usuarios ul{
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
    -webkit-box-shadow: #F9F9F9 0 1px 0 inset;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: #F9F9F9 0 1px 0 inset;
    text-decoration: none;
}
.titulo_plugin{
    margin-top:10px;
    margin-bottom: 10px;
    color:#468847;
    font-size: 16px !important;
    background-color: #F1F1F1;
    background-image: -moz-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#DBDBDB), to(#DBDBDB));
    background-image: -webkit-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: -o-linear-gradient(top, #F1F1F1, #DBDBDB);
    background-image: linear-gradient(to bottom, #F1F1F1, #DBDBDB);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffF1F1F1', endColorstr='#ffDBDBDB', GradientType=0);
    -webkit-box-shadow: #F9F9F9 0 1px 0 inset;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: #F9F9F9 0 1px 0 inset;
    text-decoration: none;
    
}
/*Sobreescribir estos estilos del template para los Plugins de PcMac*/
.summary ul li .summary-number {
    padding-top: 0px;
}

.summary ul li .summary-title {
    padding:0px;
}

.sidebar-nav > ul > li > a{
    font-size:20px !important;
}

.rowButtons{
margin-left: 0px;
float: none;
position: relative;
clear: both;
}

.interno{
    float:left; 
    margin-right: 10px;
}

tr.pendr{
   background-color: lightgreen; 
}
tr.pendh{
   background-color: lightsalmon; 
}

.trpenr{
    margin-left:20px;
    font-size: 20px;
    color: green;
    text-align: right;
    vertical-align: bottom;
}
.trpenh{
    margin-left:20px;
    font-size: 20px;
    color: salmon;
    text-align: right;
    vertical-align: bottom;
}
.ilto-main-table{
    width:90%;
    min-height: 450px;
    /*max-height:500px;*/
    margin:auto;
    padding: 20px;
    background: rgba(226, 226, 226, 0.5);
    overflow: auto; 
}
.iltoLoginbtn{
    width:160px !important;
    font-size:20px !important;
    height:60px !important;
}

.center-logo{
    float:left;
    margin-left:30%;
    margin-top:10px;
}
.center-logo img{
    max-height: 80px;
}
.right-logo{
    float:right;
    margin-top:10px;
}

.right-logo img{
    max-height: 80px;
}

.sidebar-nav ul li a:hover{
    background-color: red !important;
}

/*-------------------------------------------------------------------------------
  Horizontal UL List
-------------------------------------------------------------------------------*/

.horul ul{
  display:block;
  float:left;
  width:auto;
}

.horul ul li{
  display:block;
  float:left;
}

.horul ul li a{
  display:block;
  float:left;
}

.horul ul li a:hover,
.horul ul li a:active,
.horul ul li.active a{
}
.profile {
    margin-left: 244px;
    margin-bottom: 40px;
}
.profile img{
    margin-right: 15px;
    margin-bottom: 15px;
}
.ws-form {
    height: 40px;
    margin-top: 45px;
}
#country-form .jqTransformSelectWrapper {
    margin-right: 14px;
}
.occptn .jqTransformSelectWrapper {
    margin-right: 20px;
}



    @font-face {
        font-family: 'Calibri';
        src: url('../media/calibri.eot');
        src: url('../media/calibri-.eot#iefix') format('embedded-opentype'),
             url('../media/calibri.woff') format('woff'),
             url('../media/calibri.ttf') format('truetype'),
             url('../media/calibri.svg#calibri') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Univers-BoldCn';
        src: url('../media/univers67condensedbold.eot');
        src: url('../media/univers67condensedbold-.eot#iefix') format('embedded-opentype'),
             url('../media/univers67condensedbold.woff') format('woff'),
             url('../media/univers67condensedbold.ttf') format('truetype'),
             url('../media/univers67condensedbold.svg#univers67condensedbold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

/* -----------------------------------------------------------
 Main Menu - Level 1
 -------------------------------------------------------------- */

#main-nav {
  float: right;
  position: relative;
  width: 702px;
  z-index: 999;
}

#main-nav ul li:hover a{
  color: #ffffff !important;
}

#main-nav ul.first-level {
  position:relative;
  z-index:999;
  height:135px;
  margin: -7px 0 0;
}

#main-nav ul.first-level>li {
  z-index:999;
/*  border-bottom: 1px solid #ffffff;
*/  height: 127px;
}

#main-nav ul.first-level > li > a {

  border-right: 1px dotted #cecece;
  border-left: 1px dotted #cecece;
    position: relative;
  color:#666666;
  text-transform: uppercase;
  font-family: 'Calibri';
  font-size: 15px;
  width: 170px;
  text-align: center;
  height: 127px;
}

#main-nav ul.first-level > li > a > span.section-name {
  float: left;
  padding-top: 39px;
  width: 162px;
    padding-left: 5px;

}

#main-nav ul.first-level > li > a span.section-name.one-row {
  padding-top: 52px;
}

#main-nav ul.first-level > li > a > span.bottom-arrow {
  background: url("../img/arrowvar.png");
  height: 32px;
  Left: -2px; 
  position: absolute;
  top: 127px;
  width: 68px;
  display: none;
}

#main-nav ul.first-level > li:hover > a > span.bottom-arrow {
  display: block;
}
/*first-level special classes*/

#main-nav ul.first-level > li#about-ilto {
  border-top: 7px solid #FFDA74;
}

#main-nav ul.first-level > li#aduanas {
  border-top: 7px solid #1363DC;
}

#main-nav ul.first-level > li#transporte-terrestre {
  border-top: 7px solid #9055CF;
}

#main-nav ul.first-level > li#almacenamiento {
  border-top: 7px solid #EE5959;
}

#main-nav ul.first-level > li#servicio-al-cliente {
  border-top: 7px solid #12a3b0;
}

#main-nav ul.first-level > li#customer-service {
  border-top: 7px solid #12a3b0;
}

#main-nav ul.first-level > li#about-ilto > a > span.bottom-arrow{
background-position: -0px center;
}

#main-nav ul.first-level > li#aduanas > a > span.bottom-arrow{
background-position: -68px center;
}

#main-nav ul.first-level > li#transporte-terrestre > a > span.bottom-arrow{
background-position: -136px center;
}

#main-nav ul.first-level > li#almacenamiento > a > span.bottom-arrow{
background-position: -204px center;
}

#main-nav ul.first-level > li#servicio-al-cliente > a > span.bottom-arrow{
background-position: -272px center;
}
#main-nav ul.first-level > li#customer-service  > a > span.bottom-arrow{
background-position: -272px center;
}


#main-nav ul.first-level > li#about-ilto:hover>a{
  border-left: 1px solid #FFDA74;
  border-right: 1px solid #FFDA74;   
  background: #FFDA74;
}

#main-nav ul.first-level > li#aduanas:hover>a{
  border-left: 1px solid #1363DC;
  border-right: 1px solid #1363DC;   
  background: #1363DC;
}

#main-nav ul.first-level > li#transporte-terrestre:hover>a{
  border-left: 1px solid #9055CF;
  border-right: 1px solid #9055CF;   
  background: #9055CF;
}

#main-nav ul.first-level > li#almacenamiento:hover>a{
  border-left: 1px solid #EE5959;
  border-right: 1px solid #EE5959;   
  background: #EE5959;
}

#main-nav ul.first-level > li#servicio-al-cliente:hover>a{
  border-left: 1px solid #12a3b0;
  border-right: 1px solid #12a3b0;   
  background: #12a3b0;
}
#main-nav ul.first-level > li#customer-service:hover>a{
  border-left: 1px solid #12a3b0;
  border-right: 1px solid #12a3b0;   
  background: #12a3b0;
}
#main-nav ul > li.active {

}

#main-nav ul > li a:hover, #main-nav ul > li a:active {

}

.uniforme #main-nav ul li.parent.last ul {
    left: 252px;
    width: 728px;
}
#main-nav ul li.hasspan a {
  line-height: 2;
}

.nav-ilto{
    background-color: #E2E2E2 !important;
    
}

.oculto{
    display:none;
}

.button-column a {
  padding: 3px !important;
  font-size: 12px !important;
  text-decoration: underline !important;
}

.bodyExam{
     background: url('../img/desktop.jpg')  no-repeat fixed !important;
-webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  color:#FFDA74;
  background-color:#272727;
}
.boxCentro{
    padding:20px;    
    /*background: rgba(255, 218, 107, 0.5);
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border-radius: 15px 15px 15px 15px; */
    color:#f1f1f1;
    max-width:900px;
    margin:auto;
    width: 100%;
    font-size: 16px;
    text-align: justify;
}
.boxCentro p{
    width: 100%;
    font-size: 16px;
    text-align: justify;
    text-shadow: 1px 1px #191919;
    line-height: 26px;
}

.boxCentro li {
    line-height: 26px;
    text-shadow: 1px 1px #1e1e1f;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 30px 37.5px;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.06px;
    border-radius: 3px;
    min-width:379px;
    text-transform:uppercase;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */

.inputfile + label {
    color: #f1e5e6;
    background-color: #d3394c;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    background-color: #722040;
}

.btnExam {
    border-color: #1d7f2b;
    background-color: #31b744;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    line-height: 1;
    display: inline-block;
    font-size: 1.1rem !important;
    font-weight: 600 !important;
    width:340px !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 25px 37.5px;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 1px solid;
    box-shadow: none;
    transition: .3s;
    text-transform: uppercase;
    letter-spacing: 0.06px;
    border-radius: 3px;
}

.btnExam:hover {
  background: #1363DC;
  background-image: -webkit-linear-gradient(top, #1363DC, #1363DC);
  background-image: -moz-linear-gradient(top, #1363DC, #1363DC);
  background-image: -ms-linear-gradient(top, #1363DC, #1363DC);
  background-image: -o-linear-gradient(top, #1363DC, #1363DC);
  background-image: linear-gradient(to bottom, #1363DC, #1363DC);
  text-decoration: none;
  color:#31B744;
}

.btnQuitExam {
  background: #9055CF;
  background-image: -webkit-linear-gradient(top, #9055CF, #9055CF);
  background-image: -moz-linear-gradient(top, #9055CF, #9055CF);
  background-image: -ms-linear-gradient(top, #9055CF, #9055CF);
  background-image: -o-linear-gradient(top, #9055CF, #9055CF);
  background-image: linear-gradient(to bottom, #9055CF, #9055CF);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #FFDA74;
  font-size: 60px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btnQuitExam:hover {
  background: #1363DC;
  background-image: -webkit-linear-gradient(top, #1363DC, #1363DC);
  background-image: -moz-linear-gradient(top, #1363DC, #1363DC);
  background-image: -ms-linear-gradient(top, #1363DC, #1363DC);
  background-image: -o-linear-gradient(top, #1363DC, #1363DC);
  background-image: linear-gradient(to bottom, #1363DC, #1363DC);
  text-decoration: none;
  color:#31B744;
}

.special{
    background:#FFDA74;
    display: inline-block;
  width: 600px;
  text-align: left;
  padding: 40px;
  margin-top: 200px;
}

.cover{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.8);
    z-index:5;
    width:100%;
    height:100%;
    vertical-align: middle;
    text-align: center;
    display:none;
    font-size:22px;
    //padding:20px;
}

.flink{
    text-decoration: underline;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    float:right;
    clear:left;
    color:white;
    width:600px;
    margin:auto;
}

.imgUser{
    height:80px;
    width:auto;
}

input {
    height:25px !important; 
}


/* calendar */
table.calendar		{ border-left:1px solid #999; }
tr.calendar-row	{  }
td.calendar-day	{ min-height:80px; font-size:11px; position:relative; } * html div.calendar-day { height:80px; }
td.calendar-day:hover	{ background:#D8DDE8; }
td.calendar-day-np	{ background:#eee; min-height:80px; } * html div.calendar-day-np { height:80px; }
td.calendar-day-head { background:#ccc; font-weight:bold; text-align:center; width:120px; padding:5px; border-bottom:1px solid #999; border-top:1px solid #999; border-right:1px solid #999; }
div.day-number		{ background:#999; padding:5px; color:#fff; font-weight:bold; float:right; margin:-5px -5px 0 0; width:20px; text-align:center; }
div.day-content {width:90px;float:left;height:55px;}
/* shared */
td.calendar-day, td.calendar-day-np { width:120px; padding:5px; border-bottom:1px solid #999; border-right:1px solid #999; }
/*******************/

.small{
    font-size:10px !important;
}

.flash-success{
    color: #fff;
    background-color: #31b744 !important;
    padding: 15px;
    text-align: center;
    font-weight: 500;
}

.flash-error{
    color: #fff;
    background-color: #d73d32 !important;
    padding: 15px;
    text-align: center;
    font-weight: 500;
}

.tool_tip{
    width:24px;
    height:24px;
    float:left;
    
}
.tooltip{
   position: absolute;
   background: #1363DC;
   color: #000000;
   border-radius:10px;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	padding: 10px;
	margin-top: -10px;
	margin-left: 10px;
   z-index: 3;
   opacity: 0.8;
   display: none;
	background-color: #FFDA74;
}
.margin-30{
    margin-left:80px !important;
}
   
.select2-container{
    height:33px;
}
input[type="text"]{
    height:33px;
    line-height: 20px;
    width:250px;
}
.span2 .sidebar-nav #yw0 li.opciones ul li a{
    background: #31B744 !important;
    opacity: .7; /* standard: ff gt 1.5, opera, safari */
    -ms-filter: “alpha(opacity=75)”; /* ie 8 */
    filter: alpha(opacity=75); /* ie lt 7 */
    -khtml-opacity: .75; /* safari 1.x */
    -moz-opacity: .75; /* ff lt 1.5, netscape */
}

.span2 .sidebar-nav #yw0 li.opciones ul li a:hover{
    background: #31B744 !important;
    opacity: 1; /* standard: ff gt 1.5, opera, safari */
    -ms-filter: “alpha(opacity=100)”; /* ie 8 */
    filter: alpha(opacity=100); /* ie lt 7 */
    -khtml-opacity: 1; /* safari 1.x */
    -moz-opacity: 1; /* ff lt 1.5, netscape */
}

.opciones ul li a{
    background:  #31B744 !important;
    /*opacity: .7; /* standard: ff gt 1.5, opera, safari */
    -ms-filter: “alpha(opacity=100)”; /* ie 8 */
    filter: alpha(opacity=100); /* ie lt 7 */
    -khtml-opacity: 1; /* safari 1.x */
    -moz-opacity: 1; /* ff lt 1.5, netscape */
    color: #ffffff;
}

.opciones ul li a:hover{
    background: #31B744 !important;
    opacity: .7; /* standard: ff gt 1.5, opera, safari */
    -ms-filter: “alpha(opacity=75)”; /* ie 8 */
    filter: alpha(opacity=75); /* ie lt 7 */
    -khtml-opacity: .75; /* safari 1.x */
    -moz-opacity: .75; /* ff lt 1.5, netscape */
    color: #ffffff;
}

.tooltip ul li{ line-height: 12px !important;}

.mediana{
    font-size:14px !important;
}
.grande{
    font-size:18px !important;
}
.centrado{
    text-align:center;
}

.imagen_logo_agua{
    position:fixed;
    top: 45%;
    left:50%;
    margin-top: -125px;
    margin-left: -75px;
     opacity: .4; /* standard: ff gt 1.5, opera, safari */
    -ms-filter: “alpha(opacity=40)”; /* ie 8 */
    filter: alpha(opacity=40); /* ie lt 7 */
    -khtml-opacity: .4; /* safari 1.x */
    -moz-opacity: .4; /* ff lt 1.5, netscape */
    z-index: -999999;
}

.ui-widget-content{
    background: #1363DC; 
}

.tabla_ctes{
    margin: 10px; 
    font-size:14px;
    padding:10px;
}

.tabla_ctes td{ padding-left:10px;}

.tit_cte { font-weight:bold; font-size:16px;}

.fondoopaco{
    background: #fff;
}


.sp {
    background-image: url("../img/circle.png");
    background-size: 30px 30px;
    display: block;
    float: left;
    text-align: center;
    color: white;
    width:30px;
    height:30px;
    padding-right: 10px;
    background-repeat: no-repeat;
}


.ilto_main_menu{
    color:blue;
    text-decoration: underline;
}

.grid-view .filters input, .grid-view .filters select {
background-image:url('../img/search.png') !important;
background-position: left;
background-repeat: no-repeat;
background-size: 15px 15px;
//border:none;
background-color:transparent;
}

.search_box {
background-image:url('../img/search.png') !important;
background-position: left;
background-repeat: no-repeat;
background-size: 15px 15px;
//border:none;
background-color:transparent;
}

.text_intro{
    padding-left: 20px;
      top: 20px;
    color: lightgreen;
    font-size: 12px;
    position: relative;
}

.text_intro:hover{
    color:green;
}

.veintes{
    width:20px; 
    top:18px; 
    position:relative;
    //margin-left:10px;
}

.cuarenta{
    width:40%;
}

.sort-link{
    text-decoration: underline !important;
    color:blue !important;
}

.instrucciones{
    font-size:11px !important; 
    clear: both;
    margin-top:-10px;
}

.title_customer{
    float: left;
    position: fixed;
    display: block;
    text-align: center;
    width: 100%;
    clear: none;
    left: 1;
    color:black;
    text-transform:capitalize;
}

