<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_empresas_usuarios_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_empresas_usuarios.key_user.<%%VALUE(key_user)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(key_user)%%><%%ENDSELECT%%></td>
		<td id="ex_empresas_usuarios.cod_empresa.<%%VALUE(key_user)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(cod_empresa)%%><%%ENDSELECT%%></td>
		<td id="ex_empresas_usuarios.cod_usuario.<%%VALUE(key_user)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(cod_usuario)%%><%%ENDSELECT%%></td>
		<td id="ex_empresas_usuarios.clave.<%%VALUE(key_user)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(clave)%%><%%ENDSELECT%%></td>
