<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_resultados_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_resultados.key_user_exam.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(key_user_exam)%%><%%ENDSELECT%%></td>
		<td id="ex_resultados.cod_pregunta.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(cod_pregunta)%%><%%ENDSELECT%%></td>
		<td id="ex_resultados.cod_respuesta.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(cod_respuesta)%%><%%ENDSELECT%%></td>
