<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_resultados.key_user_exam.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(key_user_exam)%%></div></td>
		<td id="ex_resultados.cod_pregunta.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_pregunta)%%></div></td>
		<td id="ex_resultados.cod_respuesta.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_respuesta)%%></div></td>
