<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_usuarios_examenes.key_user_exam.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(key_user_exam)%%></div></td>
		<td id="ex_usuarios_examenes.key_user.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(key_user)%%></div></td>
		<td id="ex_usuarios_examenes.cod_examen.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_examen)%%></div></td>
		<td id="ex_usuarios_examenes.estado.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(estado)%%></div></td>
		<td id="ex_usuarios_examenes.fecha_presentacion.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(fecha_presentacion)%%></div></td>
		<td id="ex_usuarios_examenes.hora_inicial.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(hora_inicial)%%></div></td>
		<td id="ex_usuarios_examenes.hora_final.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(hora_final)%%></div></td>
		<td id="ex_usuarios_examenes.puntaje.<%%VALUE(key_user_exam)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(puntaje)%%></div></td>
