.navbar-transparent, .navbar-dark{
  .ubermenu{
    .ubermenu-nav{
      > li{
        > a{
          color: #ffffff !important;
        }
      }
    }
  }
}

.ubermenu{
  background: transparent !important;
  border: none !important;
  .ubermenu-nav{
    min-height: 81px;
    > li{
      > a{
        text-transform: uppercase  !important;
        line-height: 1  !important;
        padding: 34px 10px 34px 10px ;
        background-color: transparent !important;
        color: #000000 !important;
        border: none !important;
      }
      > a, > a:hover, > a:focus, > a:active{
        background: transparent !important;
        color: inherit;
      }
      > ul{
        li{
          a{
            padding: 7px 8px !important;
            margin: 10px 10px !important;
            line-height: 1 !important;
            font-size: 14px !important;
          }
        }
      }
    }
    .ubermenu-submenu-type-flyout{
      >li{
        a{
          padding: 7px 8px !important;
          margin: 0 15px;
          margin-bottom: 10px !important;
          line-height: 1 !important;
          font-size: 14px !important;
          .border-radius(2px, 2px, 2px, 2px);
          &:hover{
            background-color: @motive;
            color: #ffffff !important;
          }
        }
        &.ubermenu-current-menu-item{
          > .ubermenu-target{
            background-color: #f8f8f8 !important;
            &:hover{
              color: inherit !important;
            }
          }
        }
      }
    }
  }
  .ubermenu-item-level-0{
    outline: none !important;
    > .ubermenu-submenu-drop{
      border: none;
      .box-shadow(0 6px 12px rgba(0, 0, 0, 0.175));
    }
    > a{
      font-weight: 800;
    }
  }
  .ubermenu-submenu.ubermenu-submenu-drop{
    background: #ffffff !important;
  }
  .ubermenu-item-type-column>.ubermenu-submenu-type-stack>.ubermenu-item-normal:first-child{
    margin-top: 0;
  }
  .ubermenu-submenu-footer{
    position: relative;
    width: 100%;
    background: #f8f8f8;
    .btm-sec{
      &:first-child{
        padding-right: 10px;
      }
      &:last-child{
        padding-left: 10px;
      }
    }
  }
  .ubermenu-target-title{
    line-height: 1;
    font-weight: bold;
    &:hover{
      color: inherit;
    }
  }
  a .ubermenu-target-title{
    font-weight: inherit;
  }
}

.ubermenu .ubermenu-target{
  color: inherit !important;
}

.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>a.ubermenu-target{
  &:hover{
    background-color: @motive;
    color: #ffffff !important;
  }
}
.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal.ubermenu-current-menu-item>.ubermenu-target,
.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal.ubermenu-current-menu-item>.ubermenu-target{
  background-color: #f8f8f8;
  color: #333333 !important;
  &:hover{
    background-color: #f8f8f8;
    color: #333333 !important;
  }
}
.ubermenu .ubermenu-submenu-type-stack>.ubermenu-item-normal>.ubermenu-target{
  padding: 7px 8px !important;
  margin: 0 15px;
  margin-bottom: 10px !important;
  line-height: 1 !important;
  font-size: 14px !important;
  .border-radius(2px, 2px, 2px, 2px);
  &.ubermenu-target-with-image{
    margin: 0;
    padding: 0 !important;
    .border-radius(0px, 0px, 0px, 0px);
  }
}

.ubermenu > .ubermenu-submenu > .ubermenu-column{
  padding: 0 15px;
}

@media(max-width: 767px){
  .ubermenu-responsive{
    max-height: none !important;
    visibility: visible !important;
    a, .ubermenu-target, .ubermenu-nav > li > a{
      color: #ffffff !important;
    }
    .ubermenu-nav .ubermenu-item .ubermenu-submenu.ubermenu-submenu-drop{
      border: none;
      position: relative;
      height: auto;
      max-height: none;
      visibility: visible;
      margin-top: 0;
      .opacity(1);
      background-color: transparent !important;
    }
  }
  .ubermenu .ubermenu-submenu-type-stack > .ubermenu-item-normal > .ubermenu-target{
    margin: 0;
  }
  .ubermenu .ubermenu-submenu-footer{
    display: none;
  }
  .ubermenu.ubermenu-responsive .ubermenu-column, .ubermenu.ubermenu-responsive .ubermenu-column-auto {
    min-width: 100% !important;
  }
  .ubermenu-items-align-left.ubermenu-horizontal .ubermenu-item.ubermenu-item-level-0, .ubermenu.ubermenu-horizontal .ubermenu-item.ubermenu-align-left{
    float: none;
    width: 100%;
  }
}


// FOR WIDGETS

.ubermenu .ubermenu-widget{
  width: 100%;
}