.woocommerce ul.products.woocolumns-1 li.product,
.woocommerce-page ul.products.woocolumns-1 li.product{
  width: 100%;
}

.woocommerce ul.products.woocolumns-2 li.product,
.woocommerce-page ul.products.woocolumns-2 li.product{
  width: 50%;
}
.woocommerce ul.products.woocolumns-3 li.product,
.woocommerce-page ul.products.woocolumns-3 li.product{
  width: 33.33%;
}
.woocommerce ul.products.woocolumns-4 li.product,
.woocommerce-page ul.products.woocolumns-4 li.product{
  width: 25%;
}
.woocommerce ul.products.woocolumns-5 li.product,
.woocommerce-page ul.products.woocolumns-5 li.product{
  width: 20%;
}
.woocommerce ul.products.woocolumns-6 li.product,
.woocommerce-page ul.products.woocolumns-6 li.product{
  width: 16.66%;
}


body.navbar-transparent, body.navbar-dark{
  .menu-woocommerce-cart{
    color: #313842;
    > a{
      color: #ffffff;
    }
  }
}
.menu-woocommerce-cart{
  float: right;
  line-height: 1;
  padding: 34px 14px 34px 30px;
  margin-right: -15px;
  position: relative;
  margin-left: 10px;
  &:hover a{
    color: @motive;
  }
  &:hover{
    .cart-box{
      visibility: visible;
      top: 80%;
      .opacity(1);
    }
  }
  .cart-box{
    z-index: 1000;
    visibility: hidden;
    position: absolute;
    min-width: 320px;
    background-color: #ffffff;
    right: 0;
    top: 110%;
    .box-shadow(0 0 5px #cccccc);
    .opacity(0);
    padding: 30px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    .button{
      display: block;
      margin-top: 20px;
    }
    .widgettitle{
      display: none;
    }
    ul.cart_list{
      li.empty{
        border: none;
        padding: 0;
      }
      li{
        vertical-align: middle;
        padding: 20px 0;
        font-size: 16px;
        line-height: 1.4;
        a{
          color: inherit;
          &:hover{
            color: @motive;
          }
        }
        a:before{
          display: none;
        }
        &:first-child{
          padding-top: 0;
          border-top: none;
        }
        img{
          float: right;
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
    p.total{
      border: none;
      font-size: 16px;
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
      .amount{
        float: right;
      }
    }
    p.buttons{
      margin-bottom: 0;
      .button:first-child{
        background: #ffffff;
        color: #313842 !important;
        border: 1px solid #313842;
        padding: 16px 28px;
        &:hover{
          background: #313842;
          border-color: #313842;
          color: #ffffff !important;
        }
      }
      .button{
        font-size: 16px;
        text-align: center;
      }
    }
  }
}

.menu-woocommerce-cart, .text-wrapper{
  .number-items{
    min-width: 15px;
    padding: 0 2px;
    min-height: 15px;
    line-height: 15px;
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: 0;
    background-color: @motive;
    color: #ffffff;
    .border-radius(2px,2px,2px,2px);
  }
}

.text-wrapper .number-items{
  right: -15px;
}

.text-wrapper.remove-right-padding{
  padding-right: 0;
  position: relative;
}

@media (max-width: 991px) and (min-width: 768px){
  .text-wrapper.visible-sm{
    display: inline-block !important;
  }
}



.widget{
  .tagcloud{
    a{
      font-size: 14px !important;
      color: #cbcdd0;
      border: 1px solid #cbcdd0;
      padding: 5px 9px;
      margin-right: 5px;
      margin-bottom: 10px;
      display: inline-block;
      &:hover, &:focus, &:active{
        color: #cbcdd0;
        border-color: #cbcdd0;
      }
    }
  }
}


.woocommerce, .woocommerce-page{

  .button, .button:focus, .button:active{
    outline: none !important;
  }

  /* *************
   SIDEBAR WIDGETS
   ************** */

  .widget_price_filter{
    .price_slider_wrapper{
      .ui-widget-content{
        margin-bottom: 30px;
        background: #313842;
        height: 2px;
        .border-radius(0,0,0,0);
      }
    }
    .ui-slider-horizontal{
      .ui-slider-range{
        background: @motive;
        .box-shadow(none);
      }
    }
    .ui-slider{
      .ui-slider-handle{
        width: 16px;
        height: 16px;
        top: -7px;
        .border-radius(0,0,0,0);
        background: #ffffff;
        .box-shadow(none);
        border: 4px solid @motive;
      }
    }
    .price_slider_amount{
      text-align: left;
      .button{
        float: right;
        background: transparent;
        border: 1px solid #313842;
        .border-radius(0,0,0,0);
        font-size: 14px;
        color: #313842 !important;
        text-shadow: none;
        .box-shadow(none);
        padding: 7px 10px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:hover, &:focus, &:active{
          background: #313842;
          color: #ffffff !important;
        }
        &:active{
          top: 0;
        }
      }
    }
  }

  ul.cart_list, ul.product_list_widget{
    li{
      a{
        font-weight: inherit;
        &:before{
          top: 18px;
        }
      }
      img{
        float: left;
        width: 50px;
        margin-left: 0px;
        margin-right: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
        .box-shadow(none);
      }
      .star-rating{
        font-size: 12px;
      }
      .reviewer{
        color: #989ba0;
      }
    }
  }

  /* **********
   LISTING PAGE
   ************ */

  .shop-section{
    padding: 60px 0;
  }

  .woocommerce-breadcrumb, .display-table .breadcrumb{
    margin: 0;
    color: #313842;
    .breadsep{
      color: @motive;
      margin: 0 15px;
    }
    a{
      color: #313842;
      &:hover, &:focus, &:active{
        color: @motive;
      }
    }
  }

  .woocommerce-result-count{
    margin: 0;
    font-weight: 800;
    line-height: 50px;
  }
  .woocommerce-ordering{
    margin: 0;
  }

  #content nav.woocommerce-pagination, nav.woocommerce-pagination{
    border-top: 1px solid #eaebec;
    padding-top: 25px;
    ul.page-numbers{
      border: none;
      li{
        padding: 0 4px;
        border: none;
        a{
          color: #b3b6b9;
        }
        &:hover a, &:focus a, &:active a, span.current, span.current:hover, span.current:focus, span.current:active{
          color: #313842;
          background-color: transparent;
        }
        &:last-child, &:first-child{
          a{
            border: 1px solid #eaebec;
            color: transparent;
            position: relative;
            &:before{
              position: absolute;
              top: 50%;
              margin-top: -8px;
              left: 50%;
              margin-left: -3px;
              color: #b3b6b9;
              font-size: 16px;
              font-family: "FontAwesome";
            }
            &:hover, &:focus, &:active{
              &:before{
                color: #313842;
              }
            }
          }
        }
        &:last-child{
          a{
            &:before{
              content: "\f105";
            }
          }
        }
        &:first-child{
          a{
            &:before{
              content: "\f104";
            }
          }
        }
      }
    }
  }

  /* *************
   PRODUCT LISTING
   ************** */
  ul.products{
    &.main-prodlist{
      margin-right: -15px;
      margin-left: -15px;
      margin-top: 40px;
    }
    li.product{
      a{
        color: inherit;
        &:hover{
          color: @motive;
        }
      }
      margin: 0;
      margin-bottom: 30px;
      padding: 0 15px;
      .onsale{
        top: 77px;
        right: 0;
        min-height: 0;
        min-width: 0;
        text-transform: uppercase;
        background: @motive;
        .box-shadow(none);
        .border-radius(0,0,0,0);
        margin: 0;
        line-height: 1;
        padding: 9px 11px;
        &:before{
          content: "";
          position: absolute;
          left: -13px;
          top: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 13px 15px 0;
          border-color: transparent @motive transparent transparent;
        }
      }
      .product-inner{
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        -o-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #eaebec;
        position: relative;
        padding: 1px;
        overflow: hidden;
        h3{
          padding: 20px 20px 5px 20px;
          text-transform: uppercase;
          font-size: 12px;
        }
        .price{
          padding: 5px 20px 20px 20px;
          margin-bottom: 0;
          font-size: 18px;
          font-weight: 800;
          color: #313842;
          del{
            font-size: 0.8em;
          }
          ins{
            text-decoration: none;
          }
        }
        a img{
          margin-bottom: 0;
          .box-shadow(none);
        }
        .rating-wrapper{
          position: absolute;
          bottom: -50px;
          left: 0;
          width: 50%;
          background-color: #313842;
          margin-bottom: 0;
          padding: 17px 0;
          text-align: center;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          .star-rating{
            margin: auto;
            margin-bottom: 0;
            color: #ffffff;
          }
        }
        .add_to_cart_button{
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          position: absolute;
          bottom: -50px;
          right: 0;
          width: 50%;
          font-size: 12px;
          padding: 19px 0px;
          text-align: center;
          .border-radius(0,0,0,0);
          text-shadow: none;
          .box-shadow(none);
          text-transform: uppercase;
          background: @motive;
          color: #ffffff;
          border: none;
          &:hover, &:focus, &:active{
            .border-radius(0,0,0,0);
            top: auto;
            background-color: #313842;
          }
          &:before{
            content: "\f07a";
            font-family: "FontAwesome";
            padding-right: 7px;
          }
          &.added:before{
            content: "\f00c";
            position: relative;
            height: auto;
            width: auto;
            top: auto;
            right: auto;
          }
          &.loading{
            //background-color: @motive;
            &:before{
              color: transparent;
            }
          }
          &.product_type_variable:before{
            //display: none;
          }
        }
        .added_to_cart{
          display: none;
        }
        &:hover{
          border-color: #b5bac2;
          .add_to_cart_button, .rating-wrapper{
            bottom: 0;
          }
        }
      }
      &.norating .product-inner{
        .add_to_cart_button{
          width: 100%;
        }
      }
    }
  }

  /* ************
   SINGLE PRODUCT
   ************* */

  &.single-product{
    span.onsale{
      z-index: 1000;
      left: -15px;
      min-height: 0;
      min-width: 0;
      text-transform: uppercase;
      background: @motive;
      .box-shadow(none);
      .border-radius(0,0,0,0);
      margin: 0;
      line-height: 1;
      padding: 9px 11px;
      &:before{
        content: "";
        position: absolute;
        right: -13px;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 13px;
        border-color: transparent transparent transparent @motive;
      }
    }
  }

  #content div.product, div.product{


    .yith-wcwl-add-to-wishlist{
      position: absolute;
      top: 0;
      right: 0px;
      height: 40px;
      .add_to_wishlist{
        border: 1px solid #d6d7d9;
        font-size: 14px;
        padding: 5.5px 15px;
        color: #d6d7d9;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:hover, &:focus, &:active{
          border: 1px solid #313842;
          background-color: #313842;
          color: #ffffff;
        }
        &:before{
          content: "\f08a";
          font-family: "FontAwesome";
          padding-right: 10px;
        }
      }
      .ajax-loading{
        position: absolute;
      }
    }
    .yith-wcwl-wishlistexistsbrowse{
      display: none !important;
    }

    div.summary{
      margin-bottom: 0;
    }

    .product_title{
      font-size: 30px;
      text-transform: uppercase;
      margin: 0;
      font-weight: 800;
    }
    .woocommerce-review-link{
      color: inherit;
      &:hover, &:focus, &:active{
        color: @motive;
      }
    }

    .products.fix-padding{
      span.price, p.price{
        margin-top: 0;
      }
    }
    span.price, p.price{
      font-size: 48px;
      color: inherit;
      font-weight: 800;
      margin-top: 20px;
      line-height: 1;
      margin-bottom: 0;
      ins{
        text-decoration: none;
      }
    }

    div[itemprop="description"]{
      margin: 50px 0;
    }

    form.cart, p.cart{
      p.price, span.price{
        margin-bottom: 1em;
        margin-top: 1em;
        display: block;
      }
      .variations{
        tr:last-child{
          td{
            border-bottom: none;
          }
        }
        td{
          vertical-align: middle;
          display: table-cell;
          border-bottom: 10px solid #ffffff;
          &.label{
            padding: 0 15px 0 0;
            label{
              font-size: 14px;
              color: #313842;
              margin: 0;
            }
          }
          .reset_variations{
            margin-left: 15px;
          }
        }
      }
      button, button.alt, a.button, a.button.alt{
        background: @motive;
        .border-radius(0,0,0,0);
        .box-shadow(none);
        text-shadow: none;
        border: none;
        padding: 17px 28px;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:hover, &:focus, &:active{
          background: #313842;
        }
      }
    }
    .summary{
      .product_meta{
        > span{
          display: block;
          margin-bottom: 25px;
        }
        font-size: 12px;
        a{
          text-transform: uppercase;
          color: #989ba0;

        }
      }
      .sku_wrapper:before {
        content: "\f005";
        display: inline-block;
        float: left;
        font-family: 'FontAwesome';
        font-weight: normal;
        width: 20px;
      }
      .posted_in:before {
        content: "\f07c";
        display: inline-block;
        float: left;
        font-family: 'FontAwesome';
        font-weight: normal;
        width: 20px;
      }
      .tagged_as:before {
        content: "\f02b";
        display: inline-block;
        float: left;
        font-family: 'FontAwesome';
        font-weight: normal;
        width: 20px;
      }
    }
    .product-share{
      h6{
        margin: 0;
      }
    }
    .woocommerce-tabs{
      margin-top: 90px;
      ul.tabs{
        padding-left: 0;
        border-color: #eaebec;
        li{
          &.active{
            border-left-color: #eaebec;
            border-top-color: #eaebec;
            border-right-color: #eaebec;
            color: @motive;
            &:before{
              border: none;
              display: block;
              top: -1px;
              left: 0;
              width: 100%;
              .box-shadow(none);
              height: 3px;
              background-color: @motive;
            }
          }
          &:after, &:before{
            display: none;
          }
          a{
            padding: 16px 0;
            color: inherit;
            &:hover, &:focus, &:active{
              color: inherit;
            }
          }
          margin: 0;
          .border-radius(0,0,0,0);
          border-left-color: #ffffff;
          border-top-color: #ffffff;
          border-right-color: #ffffff;
          background: #ffffff;
          .box-shadow(none);
          text-transform: uppercase;
          font-size: 12px;
          font-weight: 800;
        }
      }
      .panel{
        .box-shadow(none);
        margin-bottom: 0;
      }
    }
    #reviews #comments{
      ol.commentlist{
        padding: 0;
        li.comment{
          .media-object{
            float: left;
            margin-right: 20px;
          }
          .comment-text{
            margin: 0;
            padding-top: 18px;
            .border-radius(0,0,0,0);
          }
          p.meta{
            font-size: 16px;
            color: #313842;
          }
          [itemprop="author"]{
            font-size: 18px;
          }
        }
      }
    }
    #reviews #comments, #respond{
      h2, h3{
        font-size: 18px;
        text-transform: uppercase;
      }
    }
    #review_form #respond{
      textarea{
        outline: none !important;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:focus{
          border-color: #313842;
        }
      }
      .form-submit input{
        background: @motive;
        .border-radius(0,0,0,0);
        .box-shadow(none);
        text-shadow: none;
        border: none;
        padding: 16px 28px;
        color: #ffffff;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:hover, &:focus, &:active{
          background: #313842;
        }
      }
    }
    div.images img{
      .box-shadow(none);
    }
  }
  .related, .fix-padding{
    h2{
      text-transform: uppercase;
      font-size: 18px;
      margin-bottom: 0;
      overflow-x: hidden;
      &:after{
        position: relative;
        left: 18px;
        content: "";
        display: inline-block;
        width: 200%;
        height: 0.8em;
        margin: 0 -200% 0 0;
        background: url("../assets/images/bg-heading.png");
      }
    }
  }


  /* *******
   CART PAGE
   ********* */


  //empty

  p.cart-empty{
    font-size: 120px;
    line-height: 1;
    color: #f0f0f0;
    margin-bottom: 60px;
    margin-top: 90px;
  }

  .return-to-shop{
    margin-bottom: 90px;
  }
  .wc-backward:before{
    display: none;
  }

  //full

  table.shop_table, #content table.shop_table{
    border: none;
    .border-radius(0,0,0,0);
    a{
      color: inherit;
      &:hover, &:focus, &:active{
        color: @motive;
      }
    }
    img{
      width: 50px;
    }
    th, td{
      vertical-align: middle;
    }
    th{
      color: #313842;
      font-size: 12px;
      text-transform: uppercase;
    }
    td{
      padding: 20px 12px;
      border-color: #eaebec;
    }
    td.product-name{
      dl.variation{
        dt, dd{
          color: #989ba0;
          font-weight: normal;
          font-size: 14px;
          padding-right: 2px;
          margin: 0;
          line-height: 1;
          p{
            line-height: 1;
          }
        }
      }
    }
    .product-thumbnail{
      padding: 20px 0px;
      width: 50px;
    }
    .product-remove{
      padding: 20px 0px;
      width: 100px;
    }
    .product-quantity{
      width: 200px;
    }
    .product-subtotal{
      width: 100px;
      .amount{
        font-size: 16px;
        font-weight: 800;
      }
    }
    a.remove{
      .border-radius(0,0,0,0);
      width: 50px;
      height: 50px;
      line-height: 50px;
      background-color: #f4f5f5;
      color: #313842;
    }
    td.actions{
      padding: 20px 0px;
      .coupon{
        .input-text{
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          border: 1px solid #eaebec;
          padding: 14.5px 15px;
          .box-shadow(none);
          width: 225px;
          &:focus{
            border-color: #313842;
          }
        }
      }
    }
    label{
      display: inline;
    }
  }

  .cart{
    input.button{
      background: @motive;
      .border-radius(0,0,0,0);
      .box-shadow(none);
      text-shadow: none;
      border: none;
      padding: 17px 28px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      color: #ffffff;
      font-weight: normal;
      &:hover, &:focus, &:active{
        background: #313842;
      }
    }
  }

  .cart-collaterals{
    padding-top: 20px;
    .cart_totals{
      h2{
        font-size: 18px;
        text-transform: uppercase;
      }
      table{
        width: 100%;
        tr:first-child th, tr:first-child td{
          border-top: 1px solid #eaebec;
        }
        td, th{
          padding: 20px 0px;
          vertical-align: middle;
          width: 50%;
          font-weight: normal;
        }
        .order-total{
          td, th{
            font-weight: 800;
          }
        }
        label{
          display: inline;
        }
      }
    }
    .shipping_calculator{
      h2{
        margin-bottom: 0;
        font-size: 14px;
        text-transform: uppercase;
      }
      .shipping-calculator-button{
        border: 1px solid #cbcdcf;
        background-color: #f2f2f2;
        padding: 15.5px 0 15.5px 70px;
        width: 100%;
        display: block;
        position: relative;
        &:after{
          display: none;
        }
        &:before{
          position: absolute;
          top: 0;
          left: 0;
          content: "\f067";
          font-family: "FontAwesome";
          display: block;
          width: 50px;
          height: 50px;
          line-height: 50px;
          text-align: center;
          border-right: 1px solid #cbcdcf;
        }
      }
      .shipping-calculator-form{
        border: 1px solid #cbcdcf;
        border-top: none;
        padding: 20px;
        &:after{
          content: "";
          display: table;
          clear: both;
        }
        .select2-container{
          width: 100%;
          min-width: 0;
        }
        p, p.form-row.form-row-wide{
          width: 50%;
          padding: 10px;
          clear: none;
          float: left;
          font-size: 16px;
          margin-bottom: 0;
        }
        p:nth-child(2){
          &:after{
            display: table;
            content: "";
            clear: both;
          }
        }
        .button{
          background: @motive;
          .border-radius(0,0,0,0);
          .box-shadow(none);
          text-shadow: none;
          border: none;
          padding: 17px 28px;
          color: #ffffff;
          font-weight: normal;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
          &:hover, &:focus, &:active{
            background: #313842;
          }
        }
      }
    }
  }

  .cross-sells{
    h2{
      text-transform: uppercase;
      font-size: 18px;
    }
    ul.products.main-prodlist{
      margin-top: 0;
    }
  }

  /* *************
     CHECKOUT PAGE
     ************* */
  form.checkout_coupon, form.login, form.register{
    .border-radius(0,0,0,0);
    padding: 60px;
    border: 1px solid #eaebec;
    h2{
      margin-top: 0;
      margin-bottom: 50px;
    }
    .button{
      background: @motive;
      .border-radius(0,0,0,0);
      .box-shadow(none);
      text-shadow: none;
      border: none;
      padding: 17px 28px;
      color: #ffffff;
      font-weight: normal;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      &:hover, &:focus, &:active{
        background: #313842;
      }
    }
  }
  form.checkout_coupon{
    p.form-row{
      padding: 0;
      margin: 0;
    }
  }
  form .form-row textarea{
    height: 8em;
  }

  .woocommerce-shipping-fields{
    border-top: 1px solid #eaebec;
    margin-top: 40px;
    padding-top: 40px;
    #ship-to-different-address{
      font-size: 18px;
      .input-checkbox{
        float: left;
      }
      .checkbox{
        margin: 0;
        display: inline-block;
        padding-left: 10px;
      }
    }
  }

  #payment{
    div.payment_box{
      .border-radius(0,0,0,0);
      .box-shadow(none);
      background: #313842;
      color: #ffffff;
      text-shadow: none;
      margin-right: 0;
      padding: 15px;
      &:after{
        top: -1px;
        border-bottom-color: #313842;
      }
    }
    #place_order{
      background: @motive;
      .border-radius(0,0,0,0);
      .box-shadow(none);
      text-shadow: none;
      border: none;
      padding: 17px 28px;
      color: #ffffff;
      font-weight: normal;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      &:hover, &:focus, &:active{
        background: #313842;
      }
    }
  }

  /* ************
     ACCOUNT PAGE
     ************ */

  .my_account_orders{
    input.button, a.button, button.button{
      padding: 10px 20px;
      margin: 0;
    }
    .order-actions{
      padding-right: 0;
    }
  }

  p.myaccount_user{
    font-size: 20px;
  }
  &.woocommerce-account{
    .woocommerce{
      h2{
        font-size: 24px;
        text-transform: uppercase;
      }
      h3{
        text-transform: uppercase;
      }
    }
  }

  .addresses{
    header{
      position: relative !important;
      background-color: transparent !important;
      top: 0 !important;
      margin-top: 15px;
      h3{
        font-size: 18px;
        color: #313842;
        text-transform: uppercase;
        margin-top: 0;
      }
    }
    .edit{
      padding: 5px 15px;
      font-size: 12px;
      line-height: 1.5;
      border: 1px solid #313842;
      color: #313842;
      background-color: transparent;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      &:hover{
        background-color: #313842;
        color: #ffffff;
      }
    }
  }

  .customer_details{
    dd{
      margin-bottom: 10px;
    }
  }

  mark{
    background-color: #f2f2f2;
  }

  /* ***************
   QUANTITY SWITCHER
   ***************** */

  div.quantity{
    height: 50px;
    width: 140px;
    margin-right: 10px;
    .minus, .plus{
      height: 100%;
      width: 25px;
      background: #ffffff;
      .box-shadow(none);
      .border-radius(0,0,0,0);
      border: 1px solid #eaebec;
      z-index: 1;
      outline: none !important;
      font-size: 22px;
      font-weight: 800;
      color: inherit;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      &:hover{
        background: #313842;
        color: #ffffff;
      }
    }
    .minus{
      left: 0;
      top: 0;
    }
    input.qty{
      height: 100%;
      width: 140px;
      .box-shadow(none);
      .border-radius(0,0,0,0);
      border: 1px solid #eaebec;
      outline: none !important;
      top: 15px;
    }
  }

  table.cart{
    div.quantity{
      margin: 0;
      input.qty{
        top: 0px;
      }
    }
  }

  /* **************
     ALERT MESSAGES
     ************** */

  .woocommerce-message, .woocommerce-info, .woocommerce-error{
    margin-top: 90px !important;
    margin-bottom: 0 !important;
    padding: 27px !important;
    border: none;
    color: #ffffff;
    font-weight: normal;
    text-shadow: none;
    .border-radius(0,0,0,0);
    .box-shadow(none);
    .button{
      background: @motive;
      .border-radius(0,0,0,0);
      .box-shadow(none);
      text-shadow: none;
      border: none;
      padding: 17px 28px;
      color: #ffffff;
      font-weight: normal;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
      &:after{
        display: none;
      }
      &:hover, &:focus, &:active{
        background: #313842;
      }
    }
    &:before{
      display: none;
    }
    a{
      color: inherit;
      text-decoration: underline;
    }
  }
  &.single-product, .shop-section{
    .woocommerce-message, .woocommerce-info, .woocommerce-error{
      margin-top: 0px !important;
      margin-bottom: 60px !important;
    }
  }

  .woocommerce-message{
    background: #a5d400;
  }
  .woocommerce-info{
    background: #4a9fe0;
  }
  .woocommerce-error{
    background: #ce0000;
  }


  /* **********
    FORM INPUTS
    *********** */

  form .form-row, .form-row{
    padding: 0;
    padding-bottom: 10px;
  }

  .chosen-container-single, &.woocommerce-checkout .form-row .chosen-container-single{
    .chosen-single{
      border-color: #eaebec;
      .border-radius(0,0,0,0);
      background: #ffffff;
      .box-shadow(none);
      height: 50px;
      line-height: 50px;
      > div{
        border-left: 1px solid #eaebec;
        b{
          background-position: 3px 15px !important;
        }
      }
    }
  }

  .chosen-container{
    .chosen-drop{
      border-color: #eaebec;
      .border-radius(0,0,0,0);
    }
    .chosen-results{
      padding: 0;
      li.highlighted{
        background: @motive;
      }
    }
  }

  .woocommerce-billing-fields, .woocommerce-shipping-fields, .checkout_coupon, .woocommerce{
    form .form-row .input-checkbox{
      margin: 0;
    }
    form .form-row label.checkbox{
      font-size: 18px;
      padding-left: 10px;
    }
    input, textarea{
      padding: 14.5px 12px;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      border: 1px solid #eaebec;
      &:focus{
        border-color: #313842;
      }
    }
  }

  input.button, a.button, button.button{
    background: @motive;
    .border-radius(0,0,0,0);
    .box-shadow(none);
    text-shadow: none;
    border: none;
    padding: 17px 28px;
    color: #ffffff !important;
    font-weight: normal;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    &:after{
      display: none;
    }
    &:hover, &:focus, &:active{
      background: #313842;
    }
  }
}

/* ********
   WISHLIST
   ******** */

#yith-wcwl-form{
  padding: 90px 0;
  h2{
    text-transform: uppercase;
    font-size: 24px;
  }
  h4{
    text-transform: uppercase;
    font-size: 18px;
  }
  .button{
    background: @motive;
    .border-radius(0,0,0,0);
    .box-shadow(none);
    text-shadow: none;
    border: none;
    padding: 6px 12px;
    color: #ffffff !important;
    font-weight: normal;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    &:after{
      display: none;
    }
    &:hover, &:focus, &:active{
      background: #313842;
    }
  }
  .product-add-to-cart{
    text-align: right;
    padding-right: 0;
  }
  ul{
    padding: 0;
  }
}

/* *********************
   SINGLE PRODUCT SLIDER
   ********************* */

.flexslider.woo_flexslider{
  margin-bottom: 10px;
}
.flexslider.woo_flexslider_thumbs{
  &:hover{
    .flex-prev{
      left: -30px;
    }
    .flex-next{
      right: -30px;
    }
  }
  ul.slides{
    > li{
      margin-right: 10px;
      cursor: pointer;
      .opacity(0.7);
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      &.flex-active-slide, &:hover{
        .opacity(1);
      }
    }
  }
}

/* **************************
   SINGLE PRODUCT PRETTYPHOTO
   ************************** */
div.pp_overlay{
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
div.pp_woocommerce{
  div.ppt{
    display: none !important;
  }

  .pp_content_container{
    .border-radius(0,0,0,0);
  }
  .pp_close{
    top: auto;
    bottom: 45px;
    right: 40px;
    background: transparent;
    .box-shadow(none);
    text-shadow: none;
    color: #313842 !important;
    &:before{
      content: "\f00d";
      font-family: "FontAwesome";
    }
    &:hover{
      background: transparent;
      cursor: -moz-zoom-out;
      cursor: -webkit-zoom-out;
      cursor: zoom-out;
    }
  }
  .pp_previous:before, .pp_next:before{
    background: rgba(255,255,255,0.4);
    width: 50px;
    height: 50px;
    .border-radius(0,0,0,0);
    line-height: 50px;
    font-size: 20px;
    font-family: "FontAwesome";
    text-shadow: none;
    color: #313842 !important;
  }
  .pp_previous:before{
    left: 0;
    content: "\f053";
  }
  .pp_next:before{
    right: 0;
    content: "\f054";
  }
  .pp_description{
    line-height: 80px;
    color: #313842;
    padding: 0px 25px;
    text-transform: uppercase;
    font-weight: 800;
    p{
      line-height: inherit;
    }
  }
  .pp_nav{
    position: absolute;
    right: 80px;
    bottom: 45px;
    text-transform: uppercase;
    font-weight: 800;
    color: #313842;
    p{
      line-height: 1em;
    }
    .pp_arrow_previous, .pp_arrow_next{
      color: #313842 !important;
      background: transparent;
      text-shadow: none;
      &:before{
        font-family: "FontAwesome";
      }
    }
    .pp_arrow_previous:before{
      content: "\f053";
    }
    .pp_arrow_next:before{
      content: "\f054";
    }
  }

}


@media(max-width: 991px){
  .woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-form p, .woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-form p, .woocommerce .cart-collaterals .shipping_calculator .shipping-calculator-form p.form-row.form-row-wide, .woocommerce-page .cart-collaterals .shipping_calculator .shipping-calculator-form p.form-row.form-row-wide{
    width: 100%;
    float: none;
  }
  .woocommerce ul.products.woocolumns-4 li.product,
  .woocommerce-page ul.products.woocolumns-4 li.product{
    width: 33.3333333%;
  }

  .woocommerce #content div.product .yith-wcwl-add-to-wishlist, .woocommerce-page #content div.product .yith-wcwl-add-to-wishlist, .woocommerce div.product .yith-wcwl-add-to-wishlist, .woocommerce-page div.product .yith-wcwl-add-to-wishlist{
    position: relative;
  }
}
@media(max-width: 768px){
  .woocommerce ul.products.woocolumns-3 li.product,
  .woocommerce-page ul.products.woocolumns-3 li.product,
  .woocommerce ul.products.woocolumns-4 li.product,
  .woocommerce-page ul.products.woocolumns-4 li.product,
  .woocommerce ul.products.woocolumns-5 li.product,
  .woocommerce-page ul.products.woocolumns-5 li.product,
  .woocommerce ul.products.woocolumns-6 li.product,
  .woocommerce-page ul.products.woocolumns-6 li.product{
    float: left;
    clear: none!important;
  }
}
@media(max-width: 767px){
  .woocommerce ul.products.woocolumns-3 li.product,
  .woocommerce-page ul.products.woocolumns-3 li.product{
    width: 50%;
  }
  .woocommerce ul.products.woocolumns-4 li.product,
  .woocommerce-page ul.products.woocolumns-4 li.product{
    width: 50%;
  }
  .woocommerce ul.products.woocolumns-5 li.product,
  .woocommerce-page ul.products.woocolumns-5 li.product{
    width: 50%;
  }
  .woocommerce ul.products.woocolumns-6 li.product,
  .woocommerce-page ul.products.woocolumns-6 li.product{
    width: 50%;
  }

  .woocommerce form.checkout_coupon, .woocommerce-page form.checkout_coupon, .woocommerce form.login, .woocommerce-page form.login, .woocommerce form.register, .woocommerce-page form.register{
    padding: 20px;
    p.form-row-first, p.form-row-last{
      width: 100%;
      float: none;
    }

    p.form-row-first{
      margin-bottom: 20px;
    }
  }
}
@media(max-width: 480px){
  .woocommerce ul.products.woocolumns-2 li.product,
  .woocommerce-page ul.products.woocolumns-2 li.product,
  .woocommerce ul.products.woocolumns-3 li.product,
  .woocommerce-page ul.products.woocolumns-3 li.product,
  .woocommerce ul.products.woocolumns-4 li.product,
  .woocommerce-page ul.products.woocolumns-4 li.product,
  .woocommerce ul.products.woocolumns-5 li.product,
  .woocommerce-page ul.products.woocolumns-5 li.product,
  .woocommerce ul.products.woocolumns-6 li.product,
  .woocommerce-page ul.products.woocolumns-6 li.product{
    width: 100%;
  }

  .woocommerce, .woocommerce-page{
    .woocommerce-ordering{
      width: 100%;
    }
  }

  .woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb, .woocommerce .display-table .breadcrumb, .woocommerce-page .display-table .breadcrumb{
    margin-top: 10px;
  }

  .woocommerce #content div.product form.cart div.quantity, .woocommerce div.product form.cart div.quantity, .woocommerce-page #content div.product form.cart div.quantity, .woocommerce-page div.product form.cart div.quantity{
    margin-bottom: 10px;
  }

  .product-share{
    .table-cell{
      display: block;
      margin-bottom: 20px;
    }
    .list-socials li{
      margin: 0 10px;
    }
  }

  .woocommerce table.shop_table td.actions .coupon .input-text, .woocommerce-page table.shop_table td.actions .coupon .input-text, .woocommerce #content table.shop_table td.actions .coupon .input-text, .woocommerce-page #content table.shop_table td.actions .coupon .input-text{
    width: 48%;
  }

  .woocommerce form.checkout_coupon, .woocommerce-page form.checkout_coupon, .woocommerce form.login, .woocommerce-page form.login, .woocommerce form.register, .woocommerce-page form.register{
    .button{
      display: block;
      width: 100%;
    }
  }

  .woocommerce form .form-row-first, .woocommerce form .form-row-last, .woocommerce-page form .form-row-first, .woocommerce-page form .form-row-last{
    width: 100%;
  }
}
.menu-woocommerce-cart .remove{display:none !important;}
.product-remove a.remove {
  color: #222 !important;
  transition: none;
  &:hover{
    background: red !important;
  }
}
.woocommerce div.quantity input.qty, .woocommerce-page div.quantity input.qty{font-weight: 900}
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
  background: #2b8be9;
  display: inline-block;
  &:hover{
    background: #222;
  }
}


// woo-Search plugin ---------------------------------------------------------------------------------------------------

.irs-bar {
  height: 3px;
  top: 33px;
  border-top: 1px solid @motive;
  border-bottom: 1px solid @motive;
  background: @motive none repeat scroll 0% 0%;
}
.irs-slider {
  top: 27px;
  width: 16px;
  height: 16px;
  border: 4px solid @motive;
  background: #fff;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.irs-line{background-color: #313842; height: 4px;}
.ct-wooSearch .ct-wooSearch-filter .ct-wooSearch-filterWrapper .ct-wooSearch-list li.ct-sizeCheck label span {line-height: 30px;}
.ct-wooSearch .ct-wooSearch-searchContent .ct-wooSearch-filter .ct-wooSearch-filterTitle{text-transform: capitalize;}
.ct-wooSearch .ct-select{border: 0;}
.ct-wooSearch .ct-wooSearch-footer .ct-wooSearch-filter{padding-top: 9px;}