<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">cod_empresa</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(cod_empresa)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">nom_empresa</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="60" type="text" class="TextBox" name="nom_empresa" id="nom_empresa" value="<%%VALUE(nom_empresa)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">logo</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top">
						<a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(logo)%%>" rel="lightbox[ex_empresas_dv]"><img src="thumbnail.php?i=<%%VALUE(logo)%%>&t=ex_empresas&f=logo&v=dv" border="0"></a>&nbsp;&nbsp;

												<%%UPLOADFILE(logo)%%>
						<%%REMOVEFILE(logo)%%>
<a href="#" onclick="return ex_empresas_showDescription('logo', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">email</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="60" type="text" class="TextBox" name="email" id="email" value="<%%VALUE(email)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('nom_empresa').length){
			document.getElementsByName('nom_empresa')[0].focus();
		}
	</script>
	<script>
		function ex_empresas_showDescription(fieldName, e){
			var desc='&nbsp';
			if(fieldName=='logo'){
				desc="<b>logo</b><br />Maximum file size allowed: 1000 KB.<br />Allowed file types: jpg, jpeg, gif, png";
			}

			var x=0;
			var y=0;
			if(e.pageX){
				x=e.pageX-10;
				y=e.pageY-10;
			}else if(e.clientX){
				x=e.clientX-10;
				y=e.clientY-10;
				if(document.body && ( document.body.scrollLeft || document.body.scrollTop )){
					x+=document.body.scrollLeft;
					y+=document.body.scrollTop;
				}else if(document.documentElement && ( document.documentElement.scrollLeft || document.documentElement.scrollTop )){
					x+=document.documentElement.scrollLeft;
					y+=document.documentElement.scrollTop;
				}
			}else{
				return false;
			}

			$('fieldDescription').innerHTML=desc;
			$('fieldDescription').style.left=x+'px';
			$('fieldDescription').style.top=y+'px';
			$('fieldDescription').style.visibility='visible';

			return false;
		}
	</script>