<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_empresas_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_empresas.cod_empresa.<%%VALUE(cod_empresa)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(cod_empresa)%%><%%ENDSELECT%%></td>
		<td id="ex_empresas.nom_empresa.<%%VALUE(cod_empresa)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(nom_empresa)%%><%%ENDSELECT%%></td>
		<td id="ex_empresas.logo.<%%VALUE(cod_empresa)%%>" valign="top" width="150" class="TableBody"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(logo)%%>" rel="lightbox"><img src="thumbnail.php?i=<%%VALUE(logo)%%>&t=ex_empresas&f=logo&v=tv" border="0"></a></td>
		<td id="ex_empresas.email.<%%VALUE(cod_empresa)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(email)%%><%%ENDSELECT%%></td>
