<!-- Edit this file to change the layout of the detail view form -->

<script type="text/javascript" src="resources/datepicker/js/datepicker.packed.js"></script>
<link href="resources/datepicker/css/datepicker.css" rel="stylesheet" type="text/css" />

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">key_user_exam</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(key_user_exam)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">key_user</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="10" type="text" class="TextBox" name="key_user" id="key_user" value="<%%VALUE(key_user)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">cod_examen</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="10" type="text" class="TextBox" name="cod_examen" id="cod_examen" value="<%%VALUE(cod_examen)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">estado</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="10" type="text" class="TextBox" name="estado" id="estado" value="<%%VALUE(estado)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">fecha_presentacion</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><span style="float: left;"><%%COMBO(fecha_presentacion)%%></span>&nbsp;&nbsp;
						<script>$('fecha_presentacion').className='Option split-date';</script>
						</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">hora_inicial</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="10" type="text" class="TextBox" name="hora_inicial" id="hora_inicial" value="<%%VALUE(hora_inicial)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">hora_final</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="10" type="text" class="TextBox" name="hora_final" id="hora_final" value="<%%VALUE(hora_final)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">puntaje</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="10" type="text" class="TextBox" name="puntaje" id="puntaje" value="<%%VALUE(puntaje)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('key_user').length){
			document.getElementsByName('key_user')[0].focus();
		}
	</script>
	<script>
		function ex_usuarios_examenes_showDescription(fieldName, e){
			var desc='&nbsp';

			var x=0;
			var y=0;
			if(e.pageX){
				x=e.pageX-10;
				y=e.pageY-10;
			}else if(e.clientX){
				x=e.clientX-10;
				y=e.clientY-10;
				if(document.body && ( document.body.scrollLeft || document.body.scrollTop )){
					x+=document.body.scrollLeft;
					y+=document.body.scrollTop;
				}else if(document.documentElement && ( document.documentElement.scrollLeft || document.documentElement.scrollTop )){
					x+=document.documentElement.scrollLeft;
					y+=document.documentElement.scrollTop;
				}
			}else{
				return false;
			}

			$('fieldDescription').innerHTML=desc;
			$('fieldDescription').style.left=x+'px';
			$('fieldDescription').style.top=y+'px';
			$('fieldDescription').style.visibility='visible';

			return false;
		}
	</script>