<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_usuarios.cod_usuario.<%%VALUE(cod_usuario)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_usuario)%%></div></td>
		<td id="ex_usuarios.nom_usuario.<%%VALUE(cod_usuario)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nom_usuario)%%></div></td>
