<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'municipios_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="municipios.id.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="municipios.id_pais.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(id_pais)%%><%%ENDSELECT%%></td>
		<td id="municipios.id_departamento.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(id_departamento)%%><%%ENDSELECT%%></td>
		<td id="municipios.nombre.<%%VALUE(id)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(nombre)%%><%%ENDSELECT%%></td>
