<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">id</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(id)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">identificacion</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="15" type="text" class="TextBox" name="identificacion" id="identificacion" value="<%%VALUE(identificacion)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">nombres</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="20" type="text" class="TextBox" name="nombres" id="nombres" value="<%%VALUE(nombres)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">primer_apellido</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="20" type="text" class="TextBox" name="primer_apellido" id="primer_apellido" value="<%%VALUE(primer_apellido)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">segundo_apellido</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="20" type="text" class="TextBox" name="segundo_apellido" id="segundo_apellido" value="<%%VALUE(segundo_apellido)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">email</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="60" type="text" class="TextBox" name="email" id="email" value="<%%VALUE(email)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">id_entidad</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="20" type="text" class="TextBox" name="id_entidad" id="id_entidad" value="<%%VALUE(id_entidad)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('identificacion').length){
			document.getElementsByName('identificacion')[0].focus();
		}
	</script>
	<script>
		function usuarios_showDescription(fieldName, e){
			var desc='&nbsp';

			var x=0;
			var y=0;
			if(e.pageX){
				x=e.pageX-10;
				y=e.pageY-10;
			}else if(e.clientX){
				x=e.clientX-10;
				y=e.clientY-10;
				if(document.body && ( document.body.scrollLeft || document.body.scrollTop )){
					x+=document.body.scrollLeft;
					y+=document.body.scrollTop;
				}else if(document.documentElement && ( document.documentElement.scrollLeft || document.documentElement.scrollTop )){
					x+=document.documentElement.scrollLeft;
					y+=document.documentElement.scrollTop;
				}
			}else{
				return false;
			}

			$('fieldDescription').innerHTML=desc;
			$('fieldDescription').style.left=x+'px';
			$('fieldDescription').style.top=y+'px';
			$('fieldDescription').style.visibility='visible';

			return false;
		}
	</script>