<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_empresas_usuarios.key_user.<%%VALUE(key_user)%%>" valign="top" width="100" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(key_user)%%></div></td>
		<td id="ex_empresas_usuarios.cod_empresa.<%%VALUE(key_user)%%>" valign="top" width="300" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(cod_empresa)%%></div></td>
		<td id="ex_empresas_usuarios.cod_usuario.<%%VALUE(key_user)%%>" valign="top" width="300" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(cod_usuario)%%></div></td>
		<td id="ex_empresas_usuarios.clave.<%%VALUE(key_user)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(clave)%%></div></td>
