<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_ilto_users_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_ilto_users.cod_ilto_user.<%%VALUE(cod_ilto_user)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(cod_ilto_user)%%><%%ENDSELECT%%></td>
		<td id="ex_ilto_users.nom_ilto_user.<%%VALUE(cod_ilto_user)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(nom_ilto_user)%%><%%ENDSELECT%%></td>
		<td id="ex_ilto_users.clave_ilto_user.<%%VALUE(cod_ilto_user)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(clave_ilto_user)%%><%%ENDSELECT%%></td>
		<td id="ex_ilto_users.tipo_ilto_user.<%%VALUE(cod_ilto_user)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(tipo_ilto_user)%%><%%ENDSELECT%%></td>
