<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_preguntas_copia.cod_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_pregunta)%%></div></td>
		<td id="ex_preguntas_copia.texto_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(texto_pregunta)%%></div></td>
		<td id="ex_preguntas_copia.url_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(url_pregunta)%%></div></td>
		<td id="ex_preguntas_copia.url2_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(url2_pregunta)%%></div></td>
		<td id="ex_preguntas_copia.tipo.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(tipo)%%></div></td>
		<td id="ex_preguntas_copia.tiempo.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(tiempo)%%></div></td>
		<td id="ex_preguntas_copia.tipo_p.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(tipo_p)%%></div></td>
