<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td class=TableHeader colspan=3 height=25>
			<div class="buttons" style="float: right;">
				<a href="ex_examenes_preguntas_view.php?FilterField[1]=3&FilterOperator[1]=%3C%3D%3E&FilterValue[1]=<%%VALUE(cod_pregunta)%%> - <%%URLVALUE(texto_pregunta)%%>" style="visibility: hidden;" id="ex_examenes_preguntas_link">Exams Questions <img src="view.gif" /></a>
				</div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID Questions</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(cod_pregunta)%%>&nbsp;&nbsp;<a href="#" onclick="return showDescription('ex_preguntas', 'cod_pregunta', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Text Question</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="60" type="text" class="TextBox" name="texto_pregunta" id="texto_pregunta" value="<%%VALUE(texto_pregunta)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">URL Question MP3</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top">
						<img src="thumbnail.php?i=<%%VALUE(url_pregunta)%%>&t=ex_preguntas&f=url_pregunta&v=dv" border="0">&nbsp;&nbsp;

												<%%UPLOADFILE(url_pregunta)%%>
						<%%REMOVEFILE(url_pregunta)%%>

						</div>
						<a href="#" onclick="return showDescription('ex_preguntas', 'url_pregunta', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">URL2 Question IMG</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top">
						<a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(url2_pregunta)%%>" rel="lightbox[ex_preguntas_dv]"><img src="thumbnail.php?i=<%%VALUE(url2_pregunta)%%>&t=ex_preguntas&f=url2_pregunta&v=dv" border="0"></a>&nbsp;&nbsp;

												<%%UPLOADFILE(url2_pregunta)%%>
						<%%REMOVEFILE(url2_pregunta)%%>
<a href="#" onclick="return showDescription('ex_preguntas', 'url2_pregunta', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Type</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="1" size="10" type="text" class="TextBox" name="tipo" id="tipo" value="<%%VALUE(tipo)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Time</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="10" type="text" class="TextBox" name="tiempo" id="tiempo" value="<%%VALUE(tiempo)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Type _p</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><span style="float: left;"><%%COMBO(tipo_p)%%></span>&nbsp;&nbsp;<a href="#" onclick="return showDescription('ex_preguntas', 'tipo_p', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('texto_pregunta').length){
			document.getElementsByName('texto_pregunta')[0].focus();
		}
	</script>