<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">cod_respuesta</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(cod_respuesta)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">texto_respuesta</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="60" type="text" class="TextBox" name="texto_respuesta" id="texto_respuesta" value="<%%VALUE(texto_respuesta)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">url_respuesta</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="100" size="60" type="text" class="TextBox" name="url_respuesta" id="url_respuesta" value="<%%VALUE(url_respuesta)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">url2_respuesta</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="100" size="60" type="text" class="TextBox" name="url2_respuesta" id="url2_respuesta" value="<%%VALUE(url2_respuesta)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('texto_respuesta').length){
			document.getElementsByName('texto_respuesta')[0].focus();
		}
	</script>