<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Key Results</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="10" size="10" type="text" class="TextBox" name="key_user_exam" id="key_user_exam" value="<%%VALUE(key_user_exam)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Question</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><span style="float: left;"><%%COMBO(cod_pregunta)%%></span> <%%PLINK(cod_pregunta)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Answer</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><span style="float: left;"><%%COMBO(cod_respuesta)%%></span> <%%PLINK(cod_respuesta)%%>&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('key_user_exam').length){
			document.getElementsByName('key_user_exam')[0].focus();
		}
	</script>