<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_respuestas_copia_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_respuestas_copia.cod_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(cod_respuesta)%%><%%ENDSELECT%%></td>
		<td id="ex_respuestas_copia.texto_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(texto_respuesta)%%><%%ENDSELECT%%></td>
		<td id="ex_respuestas_copia.url_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(url_respuesta)%%><%%ENDSELECT%%></td>
		<td id="ex_respuestas_copia.url2_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(url2_respuesta)%%><%%ENDSELECT%%></td>
