<<<<<<< HEAD
<span style='color: #000'>339 frames</span>	<span style='color: #900'>14,592 KB</span>	<span style='color: #090'>260.28 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />
=======
<span style='color: #000'>339 frames</span>	<span style='color: #900'>14,592 KB</span>	<span style='color: #090'>333.03 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />
>>>>>>> ba276703c6d1d618454b517b6a0faa86d2e33c03
