<span style='color: #000'>259 frames</span>	<span style='color: #900'>18,944 KB</span>	<span style='color: #090'>246.20 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />