<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_examenes_preguntas.cod_examen.<%%VALUE(cod_examen)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_examen)%%></div></td>
		<td id="ex_examenes_preguntas.cod_pregunta.<%%VALUE(cod_examen)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_pregunta)%%></div></td>
