<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_preguntas.cod_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_pregunta)%%></div></td>
		<td id="ex_preguntas.texto_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(texto_pregunta)%%></div></td>
		<td id="ex_preguntas.url_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(url_pregunta)%%></div></td>
		<td id="ex_preguntas.tipo.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(tipo)%%></div></td>
		<td id="ex_preguntas.tiempo.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(tiempo)%%></div></td>
		<td id="ex_preguntas.tipo_p.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(tipo_p)%%></div></td>
