<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">cod_pregunta</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(cod_pregunta)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">texto_pregunta</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="60" type="text" class="TextBox" name="texto_pregunta" id="texto_pregunta" value="<%%VALUE(texto_pregunta)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">url_pregunta</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="60" type="text" class="TextBox" name="url_pregunta" id="url_pregunta" value="<%%VALUE(url_pregunta)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">tipo</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="10" type="text" class="TextBox" name="tipo" id="tipo" value="<%%VALUE(tipo)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">tiempo</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="10" type="text" class="TextBox" name="tiempo" id="tiempo" value="<%%VALUE(tiempo)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">tipo_p</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input size="10" type="text" class="TextBox" name="tipo_p" id="tipo_p" value="<%%VALUE(tipo_p)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('texto_pregunta').length){
			document.getElementsByName('texto_pregunta')[0].focus();
		}
	</script>
	<script>
		function ex_preguntas_showDescription(fieldName, e){
			var desc='&nbsp';

			var x=0;
			var y=0;
			if(e.pageX){
				x=e.pageX-10;
				y=e.pageY-10;
			}else if(e.clientX){
				x=e.clientX-10;
				y=e.clientY-10;
				if(document.body && ( document.body.scrollLeft || document.body.scrollTop )){
					x+=document.body.scrollLeft;
					y+=document.body.scrollTop;
				}else if(document.documentElement && ( document.documentElement.scrollLeft || document.documentElement.scrollTop )){
					x+=document.documentElement.scrollLeft;
					y+=document.documentElement.scrollTop;
				}
			}else{
				return false;
			}

			$('fieldDescription').innerHTML=desc;
			$('fieldDescription').style.left=x+'px';
			$('fieldDescription').style.top=y+'px';
			$('fieldDescription').style.visibility='visible';

			return false;
		}
	</script>