<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_preguntas_respuestas.cod_pregunta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_pregunta)%%></div></td>
		<td id="ex_preguntas_respuestas.cod_respuesta.<%%VALUE(cod_pregunta)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_respuesta)%%></div></td>
