<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="ex_respuestas.cod_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(cod_respuesta)%%></div></td>
		<td id="ex_respuestas.texto_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(texto_respuesta)%%></div></td>
		<td id="ex_respuestas.url_respuesta.<%%VALUE(cod_respuesta)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(url_respuesta)%%></div></td>
