<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="usuarios.id.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id)%%></div></td>
		<td id="usuarios.identificacion.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(identificacion)%%></div></td>
		<td id="usuarios.nombres.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nombres)%%></div></td>
		<td id="usuarios.primer_apellido.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(primer_apellido)%%></div></td>
		<td id="usuarios.segundo_apellido.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(segundo_apellido)%%></div></td>
		<td id="usuarios.email.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(email)%%></div></td>
		<td id="usuarios.id_entidad.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id_entidad)%%></div></td>
