.cherry-services .service-icon {
	color: $regular_accent_color_1;
}

.services-container .cherry-services-filter {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: $h6_font_size{px};
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	text-transform: $h6_text_transform;
}

.services-container .cherry-services-filter:before {
	background-color: $grey_color_1;
}

.services-container .cherry-services-filter_item.active .cherry-services-filter_link {
	color: $regular_link_hover_color;
}

.cherry-services .cherry-spinner-double-bounce .cherry-double-bounce1,
.cherry-services .cherry-spinner-double-bounce .cherry-double-bounce2 {
	background-color: $regular_accent_color_1;
}

.template-cards .service-cards-content {
	background-color: $grey_color_1;
}

.template-media-icon-bg .services-item-inner{
	border-color: @darken($grey_color_1, 5.5);
}
.template-media-icon-bg .services-item-inner:hover .service-icon,
.template-media-icon-bg .services-item-inner:hover .title_wrap a,
.template-media-icon-bg .services-item-inner:hover .content_wrap,
.template-media-icon-bg .services-item-inner:hover .descr_wrap{
	color: $invert_accent_color_1;
}
.template-media-icon-bg .services-item-inner:before{
	background-image: linear-gradient(to top, $regular_accent_color_2, @alpha($regular_accent_color_2, 50) 70%, @alpha($regular_accent_color_2, 0));
}

.template-media-icon-3 .services-item-inner {
	background-color: @alpha($regular_accent_color_1, 60);
 }

.template-media-icon-3 .services-item-inner:hover {
	background-color:$regular_accent_color_1;
}