.contact-information-widget {
	&__inner {
		li {
			margin-left: 0;
			.icon {
				font-size: 18px;
				line-height: 1;
				margin-right: 10px;
			}
			&.contact-information__item--icon {
				display: flex;
				align-items: baseline;
			}
		}
	}
	.footer-area &.widget {
		ul {
			li {
				& + li {
					margin-top: 5px;
				}
			}
		}
	}
}
