.navbar .brand {
  color:#eee;
  text-shadow:#777777 0 1px 0;
}

.navbar-inverse .navbar-inner {
  
  background-color: #E2E2E2;
  background-image: -moz-linear-gradient(top, #E2E2E2, #D2E2E2);
  background-image: -webkit-gradient(linear, 0 0, 0 0, from(#E2E2E2), to(#D2E2E2));
 /* background-image: -webkit-linear-gradient(top, #468847, #409647);
  background-image: -o-linear-gradient(top, #468847, #409647);
  background-image: linear-gradient(to bottom, #468847, #409647);*/
  background-repeat: repeat-x;
  border-color: #468847;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff468847', endColorstr='#ff409647', GradientType=0);
  color:#eee;
}

.navbar .nav > li > a {
  color:#eee;
  text-shadow:#ccc 0 0 0;
}

.navbar .operations > li > a {
  color:#1d2e7b;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #468847;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  color: #ffffff;
  background-color: #468847;
}

.navbar-inverse .navbar-search .search-query {
  background-color:#dedede;
  border-color:#dedede;
  color:#111111;
}

.navbar-inverse .divider-vertical {
  border-right-color: #39436d;
  border-left-color: #20317d;
}

a, a:hover, .sidebar-nav ul > li > a, .sidebar-nav ul > li > a:hover, .summary-number {
	color: #468847;
}

ul.yiiPager > li > a{
	color: #468847!important;
	
}

ul.yiiPager .selected a {
  background-color: #468847;
  background-image: -moz-linear-gradient(top, #468847, #409647);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#468847), to(#409647));
  background-image: -webkit-linear-gradient(top, #468847, #409647);
  background-image: -o-linear-gradient(top, #468847, #409647);
  background-image: linear-gradient(to bottom, #468847, #409647);
  background-repeat: repeat-x;
  border-color: #468847;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff468847', endColorstr='#ff409647', GradientType=0);
  color:#DEDEDE !important;
  text-shadow:#CCCCCC 0 0 0;
  font-weight:bold;
}