<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">id</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(id)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">descripcion</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="40" size="40" type="text" class="TextBox" name="descripcion" id="descripcion" value="<%%VALUE(descripcion)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">id_entidad</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="20" size="20" type="text" class="TextBox" name="id_entidad" id="id_entidad" value="<%%VALUE(id_entidad)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">fecha_inicial</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="10" type="text" class="TextBox" name="fecha_inicial" id="fecha_inicial" value="<%%VALUE(fecha_inicial)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">fecha_final</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="" size="10" type="text" class="TextBox" name="fecha_final" id="fecha_final" value="<%%VALUE(fecha_final)%%>">&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">estado</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="11" size="11" type="text" class="TextBox" name="estado" id="estado" value="<%%VALUE(estado)%%>">&nbsp;&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('descripcion').length){
			document.getElementsByName('descripcion')[0].focus();
		}
	</script>