<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="cabecera_examenes.id.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id)%%></div></td>
		<td id="cabecera_examenes.descripcion.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(descripcion)%%></div></td>
		<td id="cabecera_examenes.id_entidad.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id_entidad)%%></div></td>
		<td id="cabecera_examenes.fecha_inicial.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(fecha_inicial)%%></div></td>
		<td id="cabecera_examenes.fecha_final.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(fecha_final)%%></div></td>
		<td id="cabecera_examenes.estado.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(estado)%%></div></td>
