<!-- Edit this file to change the layout of the highlighted record in the table view -->
		<td id="entidades.id.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id)%%></div></td>
		<td id="entidades.identificacion.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(identificacion)%%></div></td>
		<td id="entidades.nombre.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nombre)%%></div></td>
		<td id="entidades.ruta_logo.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(ruta_logo)%%></div></td>
		<td id="entidades.direccion.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(direccion)%%></div></td>
		<td id="entidades.telefono.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(telefono)%%></div></td>
		<td id="entidades.email_admin.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(email_admin)%%></div></td>
		<td id="entidades.nombre_admin.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlighted"><div class="TableBodyHighlighted" style="padding: 0;"><%%VALUE(nombre_admin)%%></div></td>
		<td id="entidades.id_pais.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id_pais)%%></div></td>
		<td id="entidades.id_departamento.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id_departamento)%%></div></td>
		<td id="entidades.id_municipio.<%%VALUE(id)%%>" valign="top" width="150" class="TableBodyHighlightedNumeric"><div class="TableBodyHighlightedNumeric" style="padding: 0;"><%%VALUE(id_municipio)%%></div></td>
