<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_preguntas_respuestas_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_preguntas_respuestas.id_preg_resp.<%%VALUE(id_preg_resp)%%>" valign="top" width="100" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(id_preg_resp)%%><%%ENDSELECT%%></td>
		<td id="ex_preguntas_respuestas.cod_pregunta.<%%VALUE(id_preg_resp)%%>" valign="top" width="400" class="TableBody"><%%SELECT%%><%%VALUE(cod_pregunta)%%><%%ENDSELECT%%></td>
		<td id="ex_preguntas_respuestas.cod_respuesta.<%%VALUE(id_preg_resp)%%>" valign="top" width="400" class="TableBody"><%%SELECT%%><%%VALUE(cod_respuesta)%%><%%ENDSELECT%%></td>
		<td id="ex_preguntas_respuestas.respuesta_correcta.<%%VALUE(id_preg_resp)%%>" valign="top" width="150" class="TableBodyNumeric"><%%SELECT%%><%%VALUE(respuesta_correcta)%%><%%ENDSELECT%%></td>
