<!-- Edit this file to change the layout of the detail view form -->

<style type="text/css"><!--  #noMouseOver:hover{ color: #000000; }  --></style>
<table border="0" cellpadding="0" cellspacing="0" id="dvContainer">
	<tr>
		<td>
			<div class=TableTitle><%%DETAIL_VIEW_TITLE%%></div>
			</td>
		</tr>
	<tr>
		<td>
			<table id="dvForm" cellspacing="1" cellpadding="0">
				<tr>
					<td colspan=2></td>
					<td rowspan="6" valign="top"><div class="buttons dv">
						<%%DVPRINT_BUTTON%%>
						<%%UPDATE_BUTTON%%>
						<%%DELETE_BUTTON%%>
						<%%DESELECT_BUTTON%%>
						<br />
						<%%INSERT_BUTTON%%>
						</div></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID QA</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><%%VALUE(id_preg_resp)%%>&nbsp;&nbsp;<a href="#" onclick="return showDescription('ex_preguntas_respuestas', 'id_preg_resp', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID Question</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><span style="float: left;"><%%COMBO(cod_pregunta)%%></span> <%%PLINK(cod_pregunta)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">ID Answer</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><span style="float: left;"><%%COMBO(cod_respuesta)%%></span> <%%PLINK(cod_respuesta)%%>&nbsp;&nbsp;</td>
					</tr>
				<tr>
					<td class=TableHeader valign=top>
						<div class=TableHeader style="text-align:right;">Answer Correct?</div>
						</td>
					<td class="TableBody" id="noMouseOver" valign="top"><input maxlength="1" size="10" type="text" class="TextBox" name="respuesta_correcta" id="respuesta_correcta" value="<%%VALUE(respuesta_correcta)%%>">&nbsp;&nbsp;<a href="#" onclick="return showDescription('ex_preguntas_respuestas', 'respuesta_correcta', event);" tabindex="-1"><img src="information.gif" border="0" align="top" style="margin: 5px;"></a></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>


	<div id="fieldDescription" class="fieldDescription" onclick="this.style.visibility='hidden';">&nbsp;</div>


	<script>
		if(document.getElementsByName('cod_pregunta').length){
			document.getElementsByName('cod_pregunta')[0].focus();
		}
	</script>