<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%select%%> and <%%endselect%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- open the generated 'ex_usuarios_view.php' file in your text editor and -->
<!-- change the value of $x->ShowTableHeader to 0 -->

		<td id="ex_usuarios.cod_usuario.<%%VALUE(cod_usuario)%%>" valign="top" width="100" class="TableBody"><%%SELECT%%><%%VALUE(cod_usuario)%%><%%ENDSELECT%%></td>
		<td id="ex_usuarios.nom_usuario.<%%VALUE(cod_usuario)%%>" valign="top" width="150" class="TableBody"><%%SELECT%%><%%VALUE(nom_usuario)%%><%%ENDSELECT%%></td>
		<td id="ex_usuarios.email.<%%VALUE(cod_usuario)%%>" valign="top" width="150" class="TableBody"><a href="mailto:<%%VALUE(email)%%>"><img src="mailLink.gif" border="0" title="<%%VALUE(email)%%>"></a></td><td align="center"><a target="_blank" href="../examspdf/results<%%VALUE(cod_usuario)%%>.pdf">Download</a></td>
