.subscribe-block__form .subscribe-block__submit--icon {
	color: $regular_text_color;
}
.subscribe-block__form .subscribe-block__submit--icon:hover {
	color: $regular_accent_color_1;
}
.invert .subscribe-block__form .subscribe-block__input {
	color: $invert_text_color;
}
