.site-header.style-1 {

	.header-btn-wrapper {
		order: 2;

		@include media-breakpoint-up(xl) {
			order: 5;
		}
	}

	.header-nav-wrapper {
		@include media-breakpoint-up(md) {
			margin-top: 10px;
		}
		@include media-breakpoint-up(xl) {
			margin-top: 0;
		}
	}

	.main-navigation {
		@include media-breakpoint-up(xl) {
			.menu {
				justify-content: flex-end;
			}
			.jet-menu {
				justify-content: flex-end !important;
			}
		}
	}
}