.elementor-panel {
	.elementor-header-button {
		.elementor-icon.eicon-menu-bar {
			font-size: 26px;
			&:before {
				content: '\e941';
			}
		}
	}
	#elementor-panel-footer-exit {
		.fa-times {
			&:before {
				content: '\f053';
			}
		}
	}
}