
body{
		
		margin:0px !important;
		background-color:#FFF;
		
	}
	



.TableTitle{
	font-family: verdana,arial,tahoma;

text-indent: 0px;
text-decoration: none;
text-align: left;
width: 300px;
height: 50px;
color: #000;
background-color: #c7c5c6;
font-weight: bold;
cursor: pointer;
font-size: 12px;
-moz-border-radius: 20px 20px 20px 20px;
-webkit-border-radius: 20px 20px 20px 20px;
border-radius: 20px 20px 20px 20px;
border: none;
padding: 10px 34px;
}

.TableHeader{
	font-family:verdana,arial,tahoma;
	font-size:12px;
	font-weight:bold;
	/*background-color: #333; */
	text-indent:3px;
	padding-right: 3px;
	color:#FFFFFF;
	text-decoration:none;
	/*padding:10px*/
	
}

.TableHeader:hover{
	color: #CCC;
}

.TableBody{
	font-family:verdana,arial,tahoma;
	font-size:12px;
	color:black;
	background-color: #eaf1dd;
	padding-left: 3px;
	text-decoration: none;
}

.TableBody:hover{
	color: #CCC;
}

.TableBodyNumeric{
	font-family:verdana,arial,tahoma;
	font-size:12px;
	color:black;
	background-color: #EAF1DD;
	text-align:right;
	padding-right: 3px;
	text-decoration: none;
}

.TableBodyNumeric:hover{
	color:red;
}

.TableFooter{
	font-family:verdana,arial,tahoma;
	font-weight:bold;
	font-size:12px;
	background-color:#434343;
	text-align:center;
	border-top: solid 1px #434343;
	border-bottom: solid 1px #434343;
	padding: 3px;
	color:#FFFFFF
}

.TableBodySelected{
	font-family:verdana,arial,tahoma;
	font-size:12px;
	color:black;
	background-color:#d7e4bc;
	padding-left: 3px;
	text-decoration: none;
}

.TableBodySelectedNumeric{
	font-family:verdana,arial,tahoma;
	font-size:12px;
	color:black;
	background-color:#d7e4bc;
	text-align:right;
	padding-right: 3px;
	text-decoration: none;
}

.Error{
	font-family: verdana,arial,tahoma;
font-size: 15px;
font-weight: bold;
/* background-color: #FFEFA0; */
text-indent: 0px;
color: red;
text-decoration: none;
margin: 0 0px 0px 59px;
width: 76%;
padding: 10px;
/* border: solid 1px red; *
}

.TextBox{
	font-family:verdana,arial,tahoma;
	font-size:12px;
	border-style:solid;
	border-width:1px;
	border-color:black;
}

.Option{
	font-family:verdana,arial,tahoma;
	font-size:12px;
}

.SelectedOption{
	font-family:verdana,arial,tahoma;
	font-size:12px;
	color:blue;
}

.TableBodyHighlighted{
	font-family:verdana,arial,tahoma;
	font-size:12px;
	color:black;
	background-color:#FFF0C2;
	padding-left: 3px;
	text-decoration: none;
}

.TableBodyHighlightedNumeric{
	font-family:verdana,arial,tahoma;
	font-size:12px;
	color:black;
	background-color:#FFF0C2;
	text-align:right;
	padding-right: 3px;
	text-decoration: none;
}

TD.TableBody{
	border-bottom: solid 1px #CFCFCF;
	border-right: solid 1px #CFCFCF;
}

TD.TableBodySelected{
	border-bottom: solid 1px #CFCFCF;
	border-right: solid 1px #CFCFCF;
}

TD.TableBodySelectedNumeric{
	border-bottom: solid 1px #CFCFCF;
	border-right: solid 1px #CFCFCF;
}

TD.TableBodyNumeric{
	border-bottom: solid 1px #CFCFCF;
	border-right: solid 1px #CFCFCF;
}

TD.TableHeader{
/*	border-bottom: solid 1px #CFCFCF;
	border-right: solid 1px #CFCFCF;*/
	padding: 2px 0;
}

.fieldDescription{
	font-family:verdana,arial,tahoma;
	font-size:13px;
	line-height: 20px;
	cursor: pointer;
	visibility: hidden;
	position: absolute;
	width: 400px;
	background-color: #FFFFA5;
	background-image: url(Exit.gif);
	background-position: 99% 3%;
	background-repeat: no-repeat;
	border: solid 3px white;
	padding: 10px;
	filter: Alpha(opacity=95);
	-moz-opacity: 0.95;
	-khtml-opacity: 0.95;
	opacity: 0.95;
}

.SuccessNotify{
	color: #007F00;
	border: solid 1px #d7e4bc;
	background-color: #eaf1dd;
	text-align: center;
	margin: 0 auto;
	width: 500px;
	padding: 3px 10px;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}

.print-button{
	cursor: pointer;
	font-weight: bold;
	margin: .5em .5em .5em .5em;
	height: 3.5em;
	width: 9em;
	white-space: pre-wrap;
	vertical-align: bottom;
}

#withSelected{
	display: none;
	background: url('print-bg.gif') no-repeat;
	background-position: 0 0;
	font-size: 3.5em;
	padding-left: 1em;
}

.nicEdit-main{
	background-color: white;
}

/* Detail view */
#dvContainer{
	margin: 10px auto;
	border:1px solid #E23000;
}

#dvForm{
}

/* BUTTONS */

.buttons a, .buttons button{
	display:block;
	float:left;
	margin: 2px;
	background-color:#ececf1;
	border:1px solid #9d9da1;
	border-top:1px solid #f1efe2;
	border-left:1px solid #f1efe2;

	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:12px;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:5px 10px 6px 7px; /* Links */
	-moz-border-radius: 6px;
}
.buttons button{
	text-align: left;
	width: 140px;
	overflow:visible;
	padding:4px 10px 3px 7px; /* IE6 */
}
#topButtons.buttons button{
	width: 130px;
}
.buttons button[type]{
	padding:5px 10px 5px 7px; /* Firefox */
	line-height:17px; /* Safari */
}
*:first-child+html button[type]{
	padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
	margin:0 3px -3px 0 !important;
	padding:0;
	border:none;
	width:16px;
	height:16px;
}

/* BUTTONS: STANDARD */

button:hover, .buttons a:hover{
	background-color:#dff4ff;
	border:1px solid #c2e1ef;
	color:#336699;
}
.buttons a:active{
	background-color:#6299c5;
	border:1px solid #6299c5;
	color:#ffffff;
}

/* BUTTONS: POSITIVE */

button.positive, .buttons a.positive{
	color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
	background-color:#E6EFC2;
	border:1px solid #C6D880;
	color:#529214;
}
.buttons a.positive:active{
	background-color:#529214;
	border:1px solid #529214;
	color:#ffffff;
}

/* BUTTONS: NEGATIVE */

.buttons a.negative, button.negative{
	color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
	background:#fbe3e4;
	border:1px solid #fbc2c4;
	color:#d12f19;
}
.buttons a.negative:active{
	background-color:#d12f19;
	border:1px solid #d12f19;
	color:#ffffff;
}

.dv button{
	clear: left;
	margin-bottom: 2px;
}

/* Auto-complete drop down */
div.AutoComplete{
	position:absolute;
	width:250px;
	background-color:white;
	border:1px solid #888;
	margin:0;
	padding:0;
}
div.AutoComplete ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
div.AutoComplete ul li.selected{
	background-color: #faedff;
}
div.AutoComplete ul li{
	list-style-type:none;
	display:block;
	margin:0;
	padding:2px;
	cursor:pointer;
	border-bottom: dotted 1px silver;
}
select.Lookup{ width: 300px; }


h3
{
	color:#39B449;
	font-size:16px;
	
}
ul
{
	list-style:none;
	list-style-image:url(icon-flecha.png)
}
	
	ul li
	{
	line-height: 22px;	
	}
	
	
	input[type="submit"]:hover
	
{
	background-color:#FFF !important;
	color:#333 !important
	
}
	
	select 
	{
	
	background: #fff;
color: #666;
font-family: Calibri, sans-serif;
float: left;
font-size: 14px;
margin-right: 20px;
margin-top: 10px;
width: 253px;
height: 37px;
line-height: 20px;
padding: 5px 20px;
border-top: 2px solid #8c8c8c;
border-right: 1px solid #e1e1e1;
border-left: 1px solid #e1e1e1;
border-bottom: 1px solid #e1e1e1;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
background-repeat: no-repeat;
background-position: left;
padding-left: 57px;
	
	}